<template>
    <div class="caipiao">
        <banner :banner="banner" :height="520"></banner>
        <div class="gameList">
            <div class="game-box">
                <div class="game-title">
                    <h2>彩票投注</h2>
                </div>
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai1.png" alt="">
                            </div>
                            <div class="game-name">极速pk10</div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai2.png" alt="">
                            </div>
                            <div class="game-name">北京pk10</div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai3.png" alt="">
                            </div>
                            <div class="game-name">马耳他幸运飞艇</div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai4.png" alt="">
                            </div>
                            <div class="game-name">极速赛车</div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai1.png" alt="">
                            </div>
                            <div class="game-name">极速飞艇</div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai2.png" alt="">
                            </div>
                            <div class="game-name">重庆时时彩</div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <div class="game-icon">
                                <img src="../assets/mg/cai3.png" alt="">
                            </div>
                            <div class="game-name">极速3分彩</div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</template>

<script>
    import banner from '../components/Lunbo.vue'
	export default {
		name: 'caipiao',
		components: {
            banner
        },
        props:{

        },
        data () {
            return {
                banner: [
                    { src: require('../assets/mg/caibanner.png') }
                ]
            }
        },
        computed:{
            
        },
        beforeCreate () {
            
        },
        created () {
            
        },
        beforeMount() {
            
        },
        mounted () {
            
        },
        beforeUpdate () {

        },
        updated () {

        },
        activated () {

        },
        deactivated () {

        },
        beforeDestroy () {

        },
        destroyed () {

        },
        methods: {
            
        },
        watch: {
            
        }
    }
</script>

<style lang="less" scoped>
    .caipiao {
        width: 100%;
        .gameList {
            background: url('../assets/mg/caibg_02.png') no-repeat;
            background-size: cover;
            padding: 40px 0;
            .game-box {
                width: 1200px;
                margin: 0 auto;
                .game-title {
                    background: url('../assets/mg/titlepg.png') no-repeat;
                    margin: 0 0 30px 0;
                    text-align: left;
                    h2 {
                        color: #fff;
                        font-size: 28px;
                        font-weight: normal;
                    }
                }
                .grid-content {
                    width: 100%;
                    margin-bottom: 30px;
                    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
                    cursor: pointer;
                    .game-icon {
                        padding: 50px 0;
                        background: url('../assets/mg/cai_bg.png') no-repeat;
                        background-size: cover;
                        border-bottom: 3px solid #fbbf1e;
                        img {
                            width: 60%;
                        }
                    }
                    .game-name {
                        background: #1d1d1d;
                        color: #fff;
                        font-size: 18px;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
</style>