<template>
    <div id="index1">
        <banner></banner>
        <div class="game-box">
            <div class="game-title">
                <span>经典游戏</span>
            </div>
            <div class="game-jidian">
                <div class="jidian-top" v-on:click="viewMenu('live')">
                    <img src="../assets/mg/meinv.png" alt="">
                </div>
                <div class="jidian-bot">
                    <div class="jidian-risk" v-on:click="viewMenu('/play/46297061913392')">
                        <img src="../assets/mg/tt.png" alt="">
                    </div>
                    <div class="jidian-risk" v-on:click="viewMenu('ultimate')">
                        <img src="../assets/mg/super.png" alt="">
                    </div>
                </div>
            </div>
            <div class="game-title">
                <span>热门免费游戏</span>
            </div>
            <div class="game-hot">
                <div class="game-hot-left">
                    <img src="../assets/mg/lamman.png" alt="">
                </div>
                <div class="game-hot-right">
                    <div class="right-risk">
                        <img src="../assets/mg/qugun.png" alt="">
                    </div>
                    <div class="right-risk">
                        <img src="../assets/mg/paidui.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import banner from '../components/Lunbo.vue'
export default {
    name: 'index2',
    components: {
        banner
    },
    props: {

    },
    data() {
        return {
            bannerHeight: 0,
            count: 0,
            games: [
                { name: "彩票投注", link: "ultimate", src: require('../assets/mg/j1.png') },
                { name: "真人娱乐", link: "live", src: require('../assets/mg/j2.png') },
                { name: "棋牌游戏", link: "/play/46297061913392", src: require('../assets/mg/j3.png') },
                { name: "电子游戏", link: "slot", src: require('../assets/mg/j4.png') },
                { name: "捕鱼游戏", link: "/play/tfxC0CZVbkhe", src: require('../assets/mg/j5.png') },
                { name: "JR分分彩", link: "/play/462972661606191107", src: require('../assets/mg/j6.png') },
            ]
        }
    },
    computed: {
        spotlights() {
            return this.$store.getters.spotlights
        }
    },
    beforeCreate() {

    },
    created() {

    },
    beforeMount() {
        //this.$store.dispatch("SPOTLIGHTS")
    },
    mounted() {

    },
    beforeUpdate() {

    },
    updated() {

    },
    activated() {

    },
    deactivated() {

    },
    beforeDestroy() {

    },
    destroyed() {

    },
    methods: {
        viewMenu(link) {
            this.$router.push({
                path: link
            });
        },
    },
    watch: {

    }
}

</script>

<style lang="less" scoped>
    #index1 {
        width: 100%;
        .game-box {
            width: 1000px;
            margin: 30px auto 50px auto;
            text-align: left;
            .game-title {
                font-size: 24px;
                color: #342617;
                margin: 20px auto 0 auto;
                width: 200px;
                text-align: center;
                background: url('../assets/mg/labelt.png') no-repeat;
                background-size: 100% 100%;
                padding: 10px 0;
                font-weight: bold;
            }
            .game-title:nth-child(1) {
                margin: 60px auto -50px auto;
            }
            .jidian-top {
                margin-top: -100px;
                img {
                    width: 100%;
                    cursor: pointer;
                }
            }
            .jidian-bot {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                .jidian-risk:nth-child(1){
                    margin-right: 10px;
                }
                .jidian-risk {
                    img {
                        width: 100%;
                        cursor: pointer;
                    }
                    img:hover {
                        box-shadow: 0 5px 20px 0 #312b26;
                    }
                }
            }
            .game-hot {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                .game-hot-left {
                    width: 670px;
                    position: relative;
                    img {
                        width: 100%;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                    .playBtn {
                        position: absolute;
                        bottom: 120px;
                        left: 38px;
                        font-size: 20px;
                        color: #a98641;
                        font-style: italic;
                        text-transform: uppercase;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                    img:hover {
                        box-shadow: 0 5px 20px 0 #312b26;
                    }
                }
                .game-hot-left:hover {
                    .playBtn {
                        left: 43px;
                    }
                }
                .game-hot-right {
                    width: 323px;
                    .right-risk {
                        width: 100%;
                        margin-bottom: 5px;
                        position: relative;
                        img {
                            width: 100%;
                            cursor: pointer;
                            border-radius: 5px;
                            text-transform: uppercase;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                        }
                        .playBtn {
                            position: absolute;
                            bottom: 80px;
                            left: 20px;
                            font-size: 16px;
                            color: #a98641;
                            font-style: italic;
                            text-transform: uppercase;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            cursor: pointer;
                        }
                        img:hover {
                            box-shadow: 0 5px 20px 0 #312b26;
                        }
                    }
                    .right-risk:hover {
                        .playBtn {
                            left: 25px;
                        }
                    }
                }
            }
        }
    }
</style>