<template>
    <div id="index1">
        <banner :banner="banner" :height="560"></banner>
        <div class="gameone">
            <div class="gameone-box">
                <div class="game-title">
                    <h2>热门推荐</h2>
                </div>
                <div class="game-box">
                    <el-row :gutter="20" >
                        <el-col :span="12">
                            <div class="gamebox-risk" @click="viewMenu('/live')">
                                <img class="zhu" src="../assets/mg/rm1.png" alt="">
                                <div class="text-box">
                                    <div class="text">
                                        <h3>真人娱乐</h3>
                                        <p>美女主播，在线发牌，陪您Higha聊。在线畅连实体，赌厅桌台下注</p>
                                    </div>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="gamebox-risk" @click="viewMenu('/play/46297061913392')">
                                <img class="zhu" src="../assets/mg/rm2.png" alt="">
                                <div class="text-box" >
                                    <div class="text">
                                        <h3>天天棋牌</h3>
                                        <p>多种玩法，快速上手。无需安装，网页畅玩。多人在线，畅快体验</p>
                                    </div>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="gamebox-risk" @click="viewMenu('/ultimate')">
                                <img class="zhu" src="../assets/mg/rm3.png" alt="">
                                <div class="text-box">
                                    <div class="text">
                                        <h3>超级彩票</h3>
                                        <p>多玩法，高赔率。快速投注，精确结算。也许下一个幸运儿就是你。</p>
                                    </div>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="gamebox-risk" @click="viewMenu('/play/cssports')">
                                <img class="zhu" src="../assets/mg/rm4.png" alt="">
                                <div class="text-box" >
                                    <div class="text">
                                        <h3>CS体育</h3>
                                        <p>快速下注，把握下注先机，为爱加冕，支持所爱，多项体育运动，更有电竞体育</p>
                                    </div>
                                </div>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
        <div class="gametwo">
            <div class="gametwo-box">
                <div class="game-title">
                    <h2>电子游戏</h2>
                </div>
                <div class="game-box">
                    <el-row :gutter="15">
                        <el-col :span="16">
                            <el-row :gutter="15">
                                <el-col :span="6" v-for="(item,index) in slotGameData" :key="index">
                                    <div class="gamebox-risk">
                                        <img class="imgtop" :src=item.src alt="">
                                        <div class="text">
                                            <div class="textl">
                                                <h3>{{item.name}}</h3>
                                                <img src="../assets/mg/star.png" alt="">
                                            </div>
                                            <div class="star" @click="viewMenu(item.link)">
                                                开始游戏
                                            </div>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-col>
                        <el-col :span="8">
                            <div class="last-game">
                                <img src="../assets/mg/dy7.png" alt="">
                                <div class="star" @click="viewMenu('/play/tfxC0CZVbkhe')">
                                    开始游戏
                                </div>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import banner from '../components/Lunbo.vue'
export default {
    name: 'index2',
    components: {
        banner
    },
    props: {

    },
    data() {
        return {
            bannerHeight: 0,
            count: 0,
            slotGameData: [
                { name: "旋转大战", link: "/play/498917535866908851", src: require('../assets/mg/dy1.png') },
                { name: "花花公子", link: "/play/460838665332750612", src: require('../assets/mg/dy2.png') },
                { name: "银行抢匪2", link: "/play/581102575674622092", src: require('../assets/mg/dy3.png') },
                { name: "篮球巨星", link: "/play/801724860837758119", src: require('../assets/mg/dy4.png') },
                { name: "春假时光", link: "/play/185034634642834566", src: require('../assets/mg/dy5.png') },
                { name: "冰上曲棍球", link: "/play/211520928597104398", src: require('../assets/mg/dy6.png') },
                { name: "淑女派对", link: "/play/681701831622462935", src: require('../assets/mg/dy8.png') },
                { name: "海底派对", link: "/play/445767001433319371", src: require('../assets/mg/dy9.png') },
            ],
            banner: [
                { src: require('../assets/mg/banner1.png') },
                { src: require('../assets/mg/banner2.png') },
                { src: require('../assets/mg/banner3.png') },
                { src: require('../assets/mg/banner4.png') }
            ]
        }
    },
    computed: {
        spotlights() {
            return this.$store.getters.spotlights
        }
    },
    beforeCreate() {

    },
    created() {

    },
    beforeMount() {
        //this.$store.dispatch("SPOTLIGHTS")
    },
    mounted() {

    },
    beforeUpdate() {

    },
    updated() {

    },
    activated() {

    },
    deactivated() {

    },
    beforeDestroy() {

    },
    destroyed() {

    },
    methods: {
        viewMenu(link) {
            window.console.log(link)
            this.$router.push({
                path: link
            });
        },
    },
    watch: {

    }
}

</script>

<style lang="less" scoped>
    #index1 {
        width: 100%;
        .gameone {
            background: url('../assets/mg/jdbg_02.png') repeat;
            padding: 270px 0 60px 0;
            .gameone-box {
                width: 1200px;
                margin: 0 auto;
                text-align: left;
                .game-title {
                    text-align: left;
                    display: inline-block;
                    background: url('../assets/mg/titlepg.png') no-repeat;
                    h2 {
                        color: #fff;
                        font-size: 28px;
                        font-weight: normal;
                    }
                }
                .game-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
                    margin: 60px 0 60px 0;
                    .gamebox-risk:hover {
                        top: -10px;
                    }
                    .gamebox-risk {
                        top: 0px;
                        cursor: pointer;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
                        margin-bottom: 30px;
                        .zhu {
                            width: 60%;
                            max-height: 255px;
                        }
                        .text-box {
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: column;
                            background: #1d1d1d;
                            flex: 1;
                            padding: 30px;
                            border-left: 3px solid #8a63ec;
                            img {
                                width: 30%;
                            }
                            .text {
                                color: #fff;
                                text-align: left;
                                h3 {
                                    font-size: 24px;
                                    font-weight: normal;
                                }
                                p {
                                    font-size: 12px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gametwo {
            background: url('../assets/mg/jdbg2_02.png') no-repeat;
            background-size: cover;
            padding: 60px 0;
            .gametwo-box {
                width: 1200px;
                margin: 0 auto;
                text-align: left;
                .game-title {
                    text-align: left;
                    display: inline-block;
                    background: url('../assets/mg/titlepg.png') no-repeat;
                    h2 {
                        color: #fff;
                        font-size: 28px;
                        font-weight: normal;
                    }
                }
                .game-box {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 60px 0 60px 0;
                    .gamebox-risk:hover {
                        margin-left: 10px;
                    }
                    .gamebox-risk {
                        width: 100%;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        cursor: pointer;
                        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
                        background: #2e2e32;
                        padding: 5px;
                        .imgtop {
                            width: 100%;
                            height: 110px;
                        }
                    }
                    .text {
                        text-align: center;
                        color: #fff;
                        align-items: center;
                        padding: 10px 16px;
                        h3 {
                            font-size: 20px;
                            font-weight: normal;
                        }
                        img {
                            margin: 10px 0;
                        }
                        p {
                            font-size: 12px;
                            color: #7f7f7f;
                        }
                    }
                    .star {
                        background: linear-gradient(left, #7656df, #937ce8);
                        display: inline-block;
                        padding: 8px 35px;
                        border-radius: 20px;
                        margin: 10px 0 0 0;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                    .star:hover {
                        border-radius: 0px !important;
                    }
                }
            }
        }
        .last-game {
            width: 100%;
            position: relative;
            img {
                width: 100%;
                margin: 0;
            }
            .star {
                position: absolute;
                left: 25%;
                bottom: 30px;
                display: block;
                width: 50%;
                padding: 8px 0;
                text-align: center;
                color: #fff;
                cursor: pointer;
                font-size: 18px;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            .star:hover {
                border-radius: 0px !important;
            }
        }
    }
</style>