<template>
    <div class="laohuji">
        <banner :banner="banner" :height="450"></banner>
        <div class="gamef">
            <!-- <div class="game-title">
                <img src="../assets/mg/dianl.png" alt="">
                <span>电子游戏</span>
                <img src="../assets/mg/dianr.png" alt="">
            </div> -->
            <div class="game-box">
                <div class="game-title">
                    <h2>电子游戏</h2>
                </div>
                <el-row :gutter="20">
                    <el-col :span="4" v-for="(item,i) in filterGames" :key="i">
                        <div class="gamebox-risk">
                            <img class="imgtop" :src="item.picture" alt="">
                            <div class="text">
                                <div class="textl">
                                    <h3>{{item.name}}</h3>
                                    <img src="../assets/mg/star.png" alt="">
                                    <p>988765人气</p>
                                </div>
                                <div class="star" @click="$router.push('/play/' + item.link)">
                                    开始游戏
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
        <v-btn color="red" bottom right fab fixed v-show="goTop" @click="toTop">
            <v-icon class="white--text">keyboard_arrow_up</v-icon>
        </v-btn>
        <v-dialog v-model="menu" max-width="450" :hide-overlay="true">
            <v-btn slot="activator" color="pink" dark bottom right fab fixed style="bottom:80px">
                <v-icon>search</v-icon>
            </v-btn>
            <v-card>
                <v-card-text>
                    <v-text-field label="Solo" hide-details append-icon="search" placeholder="游戏名字" clearable solo v-model="filter_name"></v-text-field>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import banner from '../components/Lunbo.vue'
import api from '@/api'
export default {
    name: 'laohuji',
    components: {
        banner
    },
    props: {

    },
    data() {
        return {
            areas: {
                "banner": require('../assets/slot.png'),
                "banner2": require('../assets/slot2.jpg')
            },
            games: [],
            total: 0,
            offsetTop: 0,
            show: 0,
            menu: false,
            countOfPage: 30,
            currPage: 1,
            filter_name: '',
            goTop: false,
            banner: [
                { src: require('../assets/mg/banner8.png') }
            ]
        }
    },
    computed: {
        filterGames: function() {
            var self = this
            self.show = 0
            var filterd = self.games.filter(function(game) {
                if (self.filter_name == '' || self.filter_name == null) {
                    return true
                }
                return game.name.indexOf(self.filter_name) !== -1
            })
            self.total = filterd.length
            if (self.total > 0 && self.total <= self.countOfPage) {
                self.show = 2
            }
            return filterd.slice(0, self.currPage * self.countOfPage)
        },
        totalPage: function() {
            if (this.filter_name == '' || this.filter_name == null) {
                return Math.ceil(this.games.length / this.countOfPage);
            } else {
                this.currPage = 1
                this.toTop()
                return Math.ceil(this.total / this.countOfPage);
            }
        }
    },
    watch: {},
    mounted() {
        this.show = 1
        this.loadGame(1)
    },
    methods: {
        toTop() {
            this.$vuetify.goTo(0, {
                duration: 100,
                offset: 0,
                easing: 'easeInOutCubic'
            })
        },
        setPage: function(idx) {
            if (idx <= 0 || idx > this.totalPage) {
                return;
            }
            this.currPage = idx;
        },
        getScrollHeight() {
            var scrollHeight = 0,
                bodyScrollHeight = 0,
                documentScrollHeight = 0;
            if (document.body) {
                var bSH = document.body.scrollHeight;
            }
            if (document.documentElement) {
                var dSH = document.documentElement.scrollHeight;
            }
            scrollHeight = (bSH - dSH > 0) ? bSH : dSH;
            return scrollHeight;
        },
        onScroll(e) {
            var _ = this
            var windowHeight = document.documentElement.clientHeight
            _.offsetTop = window.pageYOffset || document.documentElement.scrollTop
            if (windowHeight + _.offsetTop == _.getScrollHeight()) {
                if (_.currPage == _.totalPage) return
                _.show = 1
                setTimeout(function() {
                    if (_.currPage < _.totalPage) {
                        _.setPage(++_.currPage)
                        _.show = 0
                    } else {
                        _.show = 2
                    }
                }, 500)
            } else {
                _.goTop = false
            }
            if (windowHeight < _.offsetTop) {
                _.goTop = true
            }
            console.log(windowHeight, _.offsetTop, _.getScrollHeight())
        },
        loadGame: function(p) {
            api.get("/pc/game/slot/" + p).then(data => {
                this.games = this.games.concat(data.games ? data.games : [])
                this.total = data.games.length
                this.show = 0
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        }
    },
}
</script>

<style lang="less" scoped>
    .laohuji {
        width: 100%;
        text-align: left;
        background: #080511;
        .gamef {
            width: 1200px;
            margin: 0 auto;
            .game-box {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                margin: 15px 0 40px 0;
                border-radius: 5px;
                .game-title {
                    background: url('../assets/mg/titlepg.png') no-repeat;
                    margin: 0 0 30px 0;
                    text-align: left;
                    h2 {
                        color: #fff;
                        font-size: 28px;
                        font-weight: normal;
                    }
                }
                .gamebox-risk:hover {
                        margin-left: 10px;
                }
                .gamebox-risk {
                    width: 100%;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    cursor: pointer;
                    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
                    background: #2e2e32;
                    padding: 5px;
                    .imgtop {
                        width: 100%;
                    }
                }
                .text {
                    text-align: center;
                    color: #fff;
                    align-items: center;
                    padding: 10px 16px;
                    h3 {
                        font-size: 20px;
                        font-weight: normal;
                    }
                    img {
                        margin: 10px 0;
                    }
                    p {
                        font-size: 12px;
                        color: #7f7f7f;
                    }
                }
                .star {
                    background: linear-gradient(left, #7656df, #937ce8);
                    display: inline-block;
                    padding: 8px 35px;
                    border-radius: 20px;
                    margin: 10px 0 0 0;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }
                .star:hover {
                    border-radius: 0px !important;
                }
            }
        }
    }
    .el-pagination {
        display: flex;
        justify-content: center;
        margin: -20px 0 60px 0;
    }
</style>
<style lang="less">
    .el-pagination.is-background .el-pager li:not(.disabled):hover {
        color: #8d33e2 !important;
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
        border: none !important;
        background-color: #8d33e2 !important;
        color: #fff !important;
    }
</style>
