<template>
    <v-content>
        <v-jumbotron v-show="error">
            <v-container fill-height>
                <v-layout align-center>
                    <v-flex>
                        <h3 class="display-3">登录失败</h3>
                        <span class="subheading">
                            您可能无权登录此账户，或登录token过期，请重新请求进行登录。
                        </span>
                        <v-divider class="my-3"></v-divider>
                        <div class="title mb-3"></div>
                        <v-btn class="mx-0" color="primary" large @click="$router.push('/')">
                            去首页
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-jumbotron>
        <div class="text-xs-center">
            <v-dialog v-model="StandBy" hide-overlay persistent width="300">
                <v-card color="primary" dark>
                    <v-card-text>
                        正在登录，请稍候...
                        <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </div>
    </v-content>
</template>
<script>
    import api from '@/api'
    
    export default {
        name: 'login',
        data() {
            return {
                StandBy: false,
                error:false
            }
        },
        mounted() {
            this.StandBy = true
        },
        created() {
            this.Login(this.$route.params.token)
        },
        methods: {
            Login: function(token) {
                this.StandBy = true
                api.get("as/" + token).then(data => {
                    this.$store.commit('ShowGlobal', "")
                    this.$store.commit('onUserLogin', data.result)
                    this.$store.commit("MsgOk", '登录成功')
                    this.$store.dispatch("BALANCE")
                    this.$store.dispatch("PING")
                    this.StandBy = false
                    this.$router.push("/")
                }).catch(error => {
                    this.StandBy = false
                    this.error = true
                    this.$store.commit("MsgError", error.error)
                    this.closeWebPage()
                })
            },
            closeWebPage: function() {
                if (navigator.userAgent.indexOf("MSIE") > 0) { //close IE
                    if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
                        window.opener = null;
                        window.close();
                    } else {
                        window.open('', '_top');
                        window.top.close();
                    }
                } else if (navigator.userAgent.indexOf("Firefox") > 0) { //close firefox
                    window.location.href = 'about:blank ';
                } else { //close chrome;It is effective when it is only one.
                    window.opener = null;
                    window.open('', '_self');
                    window.close();
                }
            }
        }
    }
</script>