<template>
<v-content>
    <v-container fluid grid-list-md class="content" px-0 py-2 v-show="!error">
        <iframe scrolling="yes" ref="iframe" width="100%" :height="game.height" :src="game.link" frameborder="0" @load="loaded($event)"></iframe>
    </v-container>
    <v-jumbotron v-show="error">
        <v-container fill-height>
            <v-layout align-center>
                <v-flex>
                    <h3 class="display-3 white--text">进入游戏大厅失败</h3>
                    <span class="subheading white--text">
                            进入游戏大厅失败，请稍候再试，或联系客服。
                        </span>
                    <v-divider class="my-3"></v-divider>
                    <div class="title mb-3"></div>
                    <v-btn class="mx-0" color="primary" large @click="$router.push('/')">
                        回到首页
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-jumbotron>
    <div class="text-xs-center">
        <v-dialog v-model="StandBy" hide-overlay persistent width="300">
            <v-card color="primary" dark>
                <v-card-text>
                    正在进入游戏大厅，请稍候...
                    <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
    <v-fab-transition>
        <v-btn color="pink" dark top right fab @click="fullscreen = !fullscreen" fixed v-show="!error">
            <v-icon v-if="fullscreen">fullscreen_exit</v-icon>
            <v-icon v-else>fullscreen</v-icon>
        </v-btn>
    </v-fab-transition>
</v-content>
</template>

<script>
import api from '@/api'

export default {
    name: 'lotto',
    computed: {
        fullscreen: {
            get() {
                return this.$store.getters.fullscreen
            },
            set(val) {
                this.$store.commit("Fullscreen", val)
            }
        }
    },
    data() {
        return {
            StandBy: false,
            game: {
                link: "",
                height: window.innerHeight,
            },
            times: 0,
            error: false
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                this.Entering()
                this.times++
            },
            deep: true
        }
    },
    mounted() {
        this.StandBy = true
    },
    created() {
        this.Entering()
    },
    beforeDestroy() {
        this.$store.commit("Fullscreen", false)
    },
    methods: {
        Entering: function () {
            this.StandBy = true
            this.error = false
            let tz = new Date().getTimezoneOffset()
            api.get("pc/" + this.$route.name + "?zone=" + tz).then(data => {
                this.game.link = data.result
            }).catch(error => {
                this.StandBy = false
                this.$store.commit("MsgError", error.message)
                this.error = true
            })
        },
        loaded: function () {
            if (this.times == 0) {
                this.times++
            } else {
                this.StandBy = false
                this.times = 0
            }
            this.game.height = this.$refs.iframe.clientHeight
        }
    }
}
</script>
