<template>
<v-content>
    <v-jumbotron>
        <v-container fill-height>
            <v-layout align-center>
                <v-flex>
                    <h3 class="display-3" v-if="status">存款成功</h3>
                    <h3 class="display-3" v-else>存款完成</h3>
                    <span class="subheading">
                            如未到帐请稍等片刻，或联系客服。
                        </span>
                    <v-divider class="my-3"></v-divider>
                    <div class="title mb-3"></div>
                    <v-btn class="mx-0" color="primary" large @click="$router.push('/')">
                        回到首页
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-jumbotron>
</v-content>
</template>

<script>
import api from '@/api'
export default {
    name: 'notify',
    data() {
        return {
            status: false
        }
    },
    mounted() {
        this.checkStatus(this.$route.params.id)
    },
    methods: {
        checkStatus: function (id) {
            let _ = this
            api.get("/pc/usercentre/deposit/status/" + id).then(data => {
                _.status = data.status
            }).catch(error => {
                _.$store.commit("MsgError", error.error)
            })
        }
    }
}
</script>
