<template>
<v-content>
    <v-container fluid grid-list-md class="" px-0 py-2 v-show="!error">
        <iframe scrolling="yes" ref="iframe" width="100%" :height="game.height" :src="game.link" frameborder="0" @load="loaded($event)"></iframe>
    </v-container>
    <v-jumbotron v-show="error != ''">
        <v-container fill-height>
            <v-layout align-center>
                <v-flex class="white--text">
                    <h3 class="display-3 ">进入游戏失败</h3>
                    <h5 class="headline">[{{error}}]</h5>
                    <span class="subheading">
                            请稍候再试，或联系客服。
                    </span>
                    <v-divider class="my-3"></v-divider>
                    <div class="title mb-3"></div>
                    <v-btn class="mx-0" color="primary" large @click="$router.push('/')">
                        回到首页
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-jumbotron>
    <div class="text-xs-center">
        <v-dialog v-model="StandBy" hide-overlay persistent width="300">
            <v-card color="primary" dark>
                <v-card-text>
                    正在进入游戏，请稍候...
                    <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
    <v-fab-transition>
        <v-btn color="pink" dark top right fab @click="fullscreen = !fullscreen" fixed v-show="error =='' ">
            <v-icon v-if="fullscreen">fullscreen_exit</v-icon>
            <v-icon v-else>fullscreen</v-icon>
        </v-btn>
    </v-fab-transition>
</v-content>
</template>

<script>
import api from '@/api'

export default {
    name: 'play',
    computed: {
        fullscreen: {
            get() {
                return this.$store.getters.fullscreen
            },
            set(val) {
                if(val == true) {
                    this.game.height += 120
                }else{
                    this.game.height -= 120
                }
                this.$store.commit("Fullscreen", val)
            }
        }
    },
    data() {
        return {
            StandBy: false,
            game: {
                link: "",
                height: window.innerHeight,
            },
            times: 0,
            error: ""
        }
    },
    mounted() {
        this.StandBy = true
        this.onResize()
        window.addEventListener('resize', this.onResize, {
            passive: true
        })
    },
    created() {
        this.loadGame(this.$route.params.id)
    },
    beforeRouteUpdate(to, from, next) {
        this.loadGame(to.params.id)
        this.times = 1
        next()
    },
    beforeDestroy() {
        this.$store.commit("Fullscreen", false)
        if (typeof window !== 'undefined') {
            window.removeEventListener('resize', this.onResize, {
                passive: true
            })
        }
    },
    methods: {
        loadGame: function (link) {
            this.StandBy = true
            this.error = false
            let tz = new Date().getTimezoneOffset()
            api.get("pc/game/" + link + "?zone=" + tz).then(data => {
                this.game.link = data.link
            }).catch(error => {
                this.StandBy = false
                this.$store.commit("MsgError", error.message)
                this.error = error.message
            })
        },
        loaded: function () {
            if (this.times == 0) {
                this.times++
            } else {
                this.StandBy = false
                this.times = 0
            }
            this.game.height = this.$vuetify.breakpoint.height - 120 //this.$refs.iframe.clientHeight
        },
        onResize() {
            this.game.height = this.$vuetify.breakpoint.height - 120
        }
    }
}
</script>
