<template>
<v-content class="list-content">
    <div class="py-2">
        <v-card-media :src="areas.banner" height="240px"></v-card-media>
    </div>
    <section class="page-container">
        <v-container fluid grid-list-md>
            <v-layout row wrap v-scroll="onScroll">
                <v-flex d-flex md2 v-for="item in filterGames" @click="$router.push('/play/' + item.link)">
                    <v-card ripple style="cursor:pointer">
                        <v-card-media :src="item.picture" height="167px"></v-card-media>
                        <div class="v-carousel__controls white--text subheading">
                            {{item.name}}
                        </div>
                    </v-card>
                </v-flex>
                <div class="py-2 footer-boxed" v-show="show != 0 ">
                    <v-progress-circular v-show="show == 1" :width="3" indeterminate color="primary"></v-progress-circular>
                    <span class="text-md-center title" v-show="show == 2" >没有更多了~</span>
                </div>
            </v-layout>
        </v-container>

        <v-dialog v-model="menu" max-width="450" :hide-overlay="true">
            <v-btn slot="activator" color="pink" dark bottom right fab fixed style="bottom:80px">
                <v-icon>search</v-icon>
            </v-btn>
            <v-card>
                <v-card-text>
                    <v-text-field label="Solo" hide-details append-icon="search" placeholder="游戏名字" clearable solo v-model="filter_name"></v-text-field>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-btn color="red" dark bottom right fab fixed v-show="goTop" @click="toTop">
            <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>

    </section>

    <div class="py-2 footer-boxed">
        <v-card-media :src="areas.banner2" height="140px"></v-card-media>
    </div>
    <!-- <Footer></Footer> -->
</v-content>
</template>

<script>
import Footer from '../components/Footer.vue'
import api from '@/api'

export default {
    components: {
        Footer
    },
    name: 'index',
    data() {
        return {
            areas: {
                "banner": require('../assets/slot.png'),
                "banner2": require('../assets/slot2.jpg'),
            },
            games: [],
            total: 0,
            offsetTop: 0,
            show: 0,
            menu: false,
            countOfPage: 30,
            currPage: 1,
            filter_name: '',
            goTop:false
        }
    },
    computed: {
        filterGames: function () {
            var self = this
            self.show = 0
            var filterd = self.games.filter(function (game) {
                if (self.filter_name == '' || self.filter_name == null) {
                    return true
                }
                return game.name.indexOf(self.filter_name) !== -1
            })
            self.total = filterd.length
            if (self.total > 0 && self.total <= self.countOfPage) {
                self.show = 2
            }
            return filterd.slice(0, self.currPage * self.countOfPage)
        },
        totalPage: function () {
            if (this.filter_name == '' || this.filter_name == null) {
                return Math.ceil(this.games.length / this.countOfPage);
            } else {
                this.currPage = 1
                this.toTop()
                return Math.ceil(this.total / this.countOfPage);
            }
        }
    },
    watch: {},
    mounted() {
        this.show = 1
        this.loadGame(1)
    },
    methods: {
        toTop () {
            this.$vuetify.goTo(0, {
                    duration: 100,
                    offset: 0,
                    easing: 'easeInOutCubic'
                })
        },
        setPage: function (idx) {
            if (idx <= 0 || idx > this.totalPage) {
                return;
            }
            this.currPage = idx;
        },
        getScrollHeight() {
            var scrollHeight = 0,
                bodyScrollHeight = 0,
                documentScrollHeight = 0;
            if (document.body) {
                var bSH = document.body.scrollHeight;
            }
            if (document.documentElement) {
                var dSH = document.documentElement.scrollHeight;
            }
            scrollHeight = (bSH - dSH > 0) ? bSH : dSH;
            return scrollHeight;
        },
        onScroll(e) {
            var _ = this
            var windowHeight = document.documentElement.clientHeight
            _.offsetTop = window.pageYOffset || document.documentElement.scrollTop
            if (windowHeight + _.offsetTop == _.getScrollHeight()) {
                if (_.currPage == _.totalPage) return
                _.show = 1
                setTimeout(function () {
                    if (_.currPage < _.totalPage) {
                        _.setPage(++_.currPage)
                        _.show = 0
                    } else {
                        _.show = 2
                    }
                }, 500)
            }else{
                _.goTop = false
            }
            if (windowHeight < _.offsetTop) {
                 _.goTop = true
            }
            console.log(windowHeight,_.offsetTop, _.getScrollHeight())
        },
        loadGame: function (p) {
            api.get("/pc/game/slot/" + p).then(data => {
                this.games = this.games.concat(data.games ? data.games : [])
                this.total = data.total
                this.show = 0
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        }
    },
}
</script>

<style>
.page-container {
    min-height: 60%;
}
</style>
