<template>
    <v-content class="list-content">
        <Banner></Banner>
        <section class="page-container">
            <v-container fluid grid-list-md>
                <v-layout row wrap>
                    <v-flex d-flex md4 v-for="i in 3" :key="i" px-5>
                        <v-card ripple>
                            <v-card-media :src="areas['d'+i]['img']" height="450px"></v-card-media>
                            <div class="v-carousel__controls white--text title">
                                {{areas['d'+i]['label']}}
                            </div>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
        <!-- <Footer></Footer> -->
    </v-content>
</template>
<script>
    import Banner from '../components/Banner.vue'
    import Footer from '../components/Footer.vue'
    export default {
        components: {
            Footer,
            Banner
        },
        name: 'index',
        data() {
            return {
                areas: {
                    "r1": require('../assets/index/r1.jpg'),
                    "r2": require('../assets/index/r2.jpg'),
                    "r3": require('../assets/index/r3.jpg'),
                    "d1": {
                        img: require('../assets/index/d1.jpg'),
                        label: "彩票游戏"
                    },
                    "d2": {
                        img: require('../assets/index/d2.jpg'),
                        label: "体育竞猜"
                    },
                    "d3": {
                        img: require('../assets/index/d3.jpg'),
                        label: "真人娱乐"
                    },
                    "d4": {
                        img: require('../assets/index/d4.jpg'),
                        label: "金融分分彩"
                    }
                }
            }
        },
        watch: {
    
        },
        mounted() {},
        methods: {
    
        },
    }
</script>
<style>
.page-container{
    min-height: 60%;
}
</style>
