<template>
    <div class="zhenren">
        <banner :banner="banner" :height="450"></banner>
        <div class="gamef">
            <el-row :gutter="20">
                <el-col :span="10">
                    <div class="zleft">
                        <img src="../assets/mg/zrleft.png" alt="">
                        <div class="text-box">
                            <div class="name">
                                <h1>真人娱乐</h1>
                                <div class="rtext">
                                    <p>LIVE</p>
                                    <P>CASINO</P>
                                </div>
                            </div>
                            <h3>-在线畅连实体</h3>
                            <h3>-赌厅桌台下注</h3>
                        </div>
                    </div>
                </el-col>
                <el-col :span="14">
                    <div class="game-box">
                        <div @click="$router.push(areas['d'+i]['action'])" v-for="i in 2" :key="i" class="game-risk">
                            <img class="imgmain" :src="areas['d'+i]['img']" alt="">
                            <div class="text-box">
                                <div class="name">
                                    <img :src="areas['d'+i]['icon']" alt="">
                                    <h3>{{areas['d'+i]['label']}}</h3>
                                </div>
                                <div>
                                    <p>{{areas['d'+i]['p1']}}</p>
                                    <p>{{areas['d'+i]['p2']}}</p>
                                </div>
                                <div class="btn">立即进入</div>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
import banner from '../components/Lunbo.vue'
export default {
    name: 'zhenren',
    components: {
        banner
    },
    props: {

    },
    data() {
        return {
            areas: {
                "banner": require('../assets/mg/banner2.png'),
                "d1": {
                    img: require('../assets/mg/sagzr.png'),
                    icon: require('../assets/mg/saicon.png'),
                    label: "SAG 国际厅",
                    p1: "-中文美女主播",
                    p2: "-陪您high聊",
                    action: "play/462972661606191129"
                },
                "d2": {
                    img: require('../assets/mg/agzr.png'),
                    icon: require('../assets/mg/agicon.png'),
                    label: "AG 国际厅",
                    p1: "-全球首创",
                    p2: "-6张牌先发",
                    action: "play/462972661606191343"
                }
            },
            banner: [
                { src: require('../assets/mg/banner9527.png') }
            ]
        }
    },
    computed: {

    },
    beforeCreate() {

    },
    created() {

    },
    beforeMount() {

    },
    mounted() {

    },
    beforeUpdate() {

    },
    updated() {

    },
    activated() {

    },
    deactivated() {

    },
    beforeDestroy() {

    },
    destroyed() {

    },
    methods: {

    },
    watch: {

    }
}
</script>

<style lang="less" scoped>
    .zhenren {
        width: 100%;
        text-align: left;
        background: #0f0f0f;
        .gamef {
            width: 1200px;
            margin: 0 auto;
            padding: 125px 0 0 0;
            .zleft {
                img {
                    width: 100%;
                }
                .text-box {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    padding: 20px 30px;
                    .name {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        h1 {
                            color: #ebb941;
                            font-size: 28px;
                            font-weight: normal;
                        }
                        .rtext {
                            color: #c887f6;
                            font-size: 12px;
                            margin-left: 10px;
                            padding-left: 10px;
                            border-left: 5px solid #7223aa;
                        }
                    }
                    h3 {
                        font-size: 16px;
                        color: #c7c7c7;
                        line-height: 42px;
                        font-weight: normal;
                    }
                }
            }
            .game-box {
                position: relative;
                .game-risk {
                    position: relative;
                    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
                    margin-bottom: 37px;
                    .imgmain {
                        width: 100%;
                    }
                    .text-box {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        color: #fff;
                        padding: 20px 20px 40px 20px;
                        .name {
                            display: flex;
                            align-items: center;
                            height: 53px;
                            img {
                                width: 26%;
                            }
                            h3 {
                                font-size: 20px;
                                font-weight: normal;
                                margin-left: 10px;
                            }
                        }
                        p {
                            font-size: 16px;
                            color: #c7c7c7;
                            line-height: 42px;
                        }
                    }
                    .btn {
                        font-size: 18px;
                        background: linear-gradient(left, #7656df, #937ce8);
                        padding: 8px 35px;
                        border-radius: 50px;
                        cursor: pointer;
                        text-transform: uppercase;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                    .btn:hover {
                        border-radius: 5px;
                    }
                }
            }
        }
    }
</style>