<template>
    <div class="pb-2">
        <v-card>
             <v-card-media
                  :src="banner"
                  height="200px"
                >
            </v-card-media>
        </v-card>
    </div>
</template>
<script>
    module.exports = {
        name: 'banner',
        data () {
            return {
                banner : require('../assets/banner.jpg')
            }
        }
    }
</script>