<template>
    <v-dialog v-model="forgetBox" persistent max-width="500px">
        <v-card>
            <v-toolbar dark color="primary">
                <v-toolbar-title class="headline">找回密码</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom left>
                    <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-menu>
            </v-toolbar>
            <v-card-text>
            <div class="headline">请联系客服</div>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'forget',
        data() {
            return {
            }
        },
        watch: {
        },
        computed: {
            forgetBox() {
                return this.$store.getters.modalBox == this.$options.name
            }
        },
        methods: {
            
        }
    
    }
</script>
