<template>
    <div id="header1">
        <div class="header">
            <div class="header-box">
                <div class="logo-box" @click="view('/')"><img src="../assets/mg/logo.png" alt=""></div>
                <div class="announce">
                    <div class="announce-box">
                        <div>公告</div>
                        <div class="iconfont icon-gonggao"></div>
                        <div class="announce-scroll">
                            <marquee @viewBoards="viewBoards" :marqueeList="list" height="40px" width="100%" color="#ffffff" fontSize="16px" />
                        </div>
                    </div>
                </div>
                <div class="rightBtn">
                    <el-tooltip class="item" effect="light" placement="bottom">
                        <div class="content-box" slot="content">
                            <div style="font-size: 18px; text-align:center; color: rgba(0,0,0,.87);">扫码下载APP</div>
                            <div>
                                <img src="../assets/app.png" alt="">
                            </div>
                        </div>
                        <div class="appBtn">
                            <div class="iconfont icon-apponly"></div>
                            <div>APP下载</div>
                        </div>
                    </el-tooltip>
                    <div class="appBtn" v-if="isLogin">
                        <div>欢迎您【<a @click="$router.push('/home')" > <label class="white--text" style="cursor: pointer;">{{user.name}}</label></a>】</div>
                    </div>
                    <el-tooltip class="item" effect="light" placement="bottom" v-if="isLogin">
                        <div slot="content">
                            <div v-for="item in balance">
                                <span style="font-size:14px;color:#958ea0;">{{item.name}}：</span> <span style="font-size:14px;" class="cyan--text lighten-2">{{config.unit}} {{item.balance|money}}</span>
                            </div>
                        </div>
                        <div class="appBtn">
                            <div>余额</div>
                            <div class="iconfont icon-unie62a" style="margin-left: 5px;" @mouseenter="loadBalance"></div>
                        </div>
                    </el-tooltip>
                    <div class="loginBtn" v-if="!isLogin" @click="$store.commit('ShowGlobal','login')">登录</div>
                    <div class="registerBtn" v-if="!isLogin" @click="$store.commit('ShowGlobal','register')">立即注册</div>
                    <div class="loginBtn" @click="Home('deposit')" v-if="isLogin">存款</div>
                    <div class="loginBtn" @click="Home('withdrawal')" v-if="isLogin">提款</div>
                    <div class="registerBtn" @click="logout" v-if="isLogin">安全退出</div>
                </div>
            </div>
        </div>
        <el-dialog title="公告信息" :visible.sync="dialogTableVisible">
            <el-table :data="boards" class="gaoList">
                <el-table-column label="标题">
                    <template slot-scope="scope">
                        <div @click="viewBoards(scope.$index)">{{scope.row.title}}</div>
                    </template>
                </el-table-column>
                <el-table-column label="日期" width="200" align="right">
                    <template slot-scope="scope">
                        <div @click="viewBoards(scope.$index)">{{scope.row.created | formatDate}}</div>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog width="30%" :title="boardsTitle" :visible.sync="innerVisible" append-to-body>
                <div v-html="boardsContent"></div>
            </el-dialog>
        </el-dialog>
        <div class="nav">
            <div class="nav-box">
                <ul>
                    <li :class="{active: Cpath == '/'}" @click="view('/')">
                        <div class="navName">主页</div>
                        <div class="xiegan">|</div>
                    </li>
                    <li :class="{active: Cpath == '/caipiao'}" @click="view('/caipiao')">
                        <div class="navName">彩票</div>
                        <div class="xiegan">|</div>
                    </li>
                    <li :class="{active: Cpath == '/zhenren'}" @click="view('/zhenren')">
                        <div class="navName">真人</div>
                        <div class="xiegan">|</div>
                    </li>
                    <li :class="{active: Cpath == '/qipai'}">
                        <div class="navName">棋牌</div>
                        <div class="xiegan">|</div>
                    </li>
                    <li :class="{active: Cpath == '/laohuji'}" @click="view('/laohuji')">
                        <div class="navName">老虎机</div>
                        <div class="xiegan">|</div>
                    </li>
                    <li :class="{active: Cpath == '/buyu'}">
                        <div class="navName">捕鱼</div>
                        <div class="xiegan">|</div>
                    </li>
                    <li :class="{active: Cpath == '/ffc'}">
                        <div class="navName">JR分分彩</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="service" @click="live">
            <img src="../assets/mg/service.png" alt="">
        </div>
    </div>
</template>

<script>
    import Marquee from '../marquee/Marquee'
    import api from '@/api'
	export default {
		name: 'header1',
		components: {
            Marquee
        },
        props:{

        },
        data () {
            return {
                dialogTableVisible: false,
                innerVisible: false,
                boardsTitle: '',
                boardsContent: '',
                active: '主页'
            }
        },
        computed:{
            boards() {
                return this.$store.getters.boards
            },
            isLogin() {
                return !!(this.$store.getters.token && Object.keys(this.$store.getters.user).length != 0)
            },
            user() {
                let user = this.$store.getters.user
                if (this.isLogin == false) {
                    user["name"] = this.config["visitor"]
                }
                return user
            },
            config() {
                return this.$store.getters.config
            },
            balance() {
                return this.$store.getters.balance
            },
            menus() {
                return this.$store.getters.menus
            },
            fullscreen() {
                return this.$store.getters.fullscreen
            },
            Cpath() {
                return this.$route.path
            },
            list(){
                let list = [];
                let boards = this.$store.getters.boards;
                let n = boards.length;
                for(let i =0; i < n; i++){
                    list.push(boards[i].title);
                }
                return list
            }
        },
        beforeCreate () {
            
        },
        created () {

        },
        mounted () {

        },
        beforeUpdate () {

        },
        updated () {

        },
        activated () {

        },
        deactivated () {

        },
        beforeDestroy () {

        },
        destroyed () {

        },
        methods: {
            live () {
                window.$zopim.livechat.window.show();
            },
            viewBoards (i) {
                this.dialogTableVisible = true;
                setTimeout(() => {
                    this.innerVisible = true;
                }, 1)
                this.boardsTitle = this.boards[i].title;
                this.boardsContent = this.boards[i].content;
            },
            view (link) {
                this.$router.push({path:link});
            },
            loadBalance () {
                if (this.isLogin) {
                    this.$store.dispatch("BALANCE")
                }
            },
            Home (box) {
                this.$store.dispatch("userCenter", box)
            },
            logout () {
                api.get("/logout")
                this.$store.commit('LOGOUT')
                this.$store.commit('MsgOk', "退出成功")
                this.$router.push("/");
            },
        },
        watch:{

        },
    }
</script>

<style lang="less" scoped>
    #header1 {
        width: 100%;
        position: fixed;
        z-index: 200;
        .header {
            width: 100%;
            background: #1a1a1a;
            padding: 10px 0;
            .header-box {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .logo-box {
                    width: 300px;
                    height: 97px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    .logotext {
                        font-size: 40px;
                        margin-left: -20px;
                        color: #000;
                        background: rgba(255, 253, 160, 1);
                        background: -webkit-linear-gradient(left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
                        -webkit-background-clip: text;
                        -ms-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -ms-text-fill-color: transparent;
                        -moz-text-fill-color: transparent;
                        text-fill-color: transparent;
                        -webkit-animation-name: masked-animation;
                        -webkit-animation-duration: 50s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-timing-function: linear;
                    }
                }
                .announce {
                    height: 97px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #c69c47;
                    font-size: 14px;
                    width: 500px;
                    .announce-box {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .iconfont {
                            font-size: 18px;
                            margin: 0 5px;
                        }
                        .announce-scroll {
                            flex: 1;
                            background: #302e2a;
                            border-radius: 5px;
                            height: 40px;
                            text-align: left;
                            padding: 0 10px;
                        }
                    }
                }
                .rightBtn {
                    height: 97px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: #c69c47;
                    font-size: 14px;
                    .appBtn {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                        cursor: pointer;
                        .iconfont {
                            font-size: 18px;
                            margin-right: 5px;
                        }
                    }
                    .loginBtn {
                        cursor: pointer;
                        border: 1px solid #cea143;
                        color: #cea143;
                        border-radius: 5px;
                        font-size: 12px;
                        margin: 0 5px 0 0;
                        padding: 2px 8px;
                    }
                    .registerBtn {
                        font-size: 12px;
                        color: #1a1a1a;
                        background: #dfb153;
                        padding: 2px 8px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
        .nav {
            background: -webkit-radial-gradient(#f4ca59,#d39924); /* Safari 5.1 - 6.0 */
            background: -o-radial-gradient(#f4ca59,#d39924); /* Opera 11.6 - 12.0 */
            background: -moz-radial-gradient(#f4ca59,#d39924); /* Firefox 3.6 - 15 */
            background: radial-gradient(#f4ca59,#d39924); /* 标准的语法（必须放在最后） */
            .nav-box {
                width: 666px;
                margin: 0 auto;
                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    .active,li:hover {
                        border: none;
                        color: #ea8f02;
                        .navName {
                            background: url('../assets/mg/bg66.png') no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    li {
                        flex: 1;
                        text-align: center;
                        color: #1f1b1a;
                        font-size: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .navName {
                            padding: 10px 0;
                            width: 100px;
                            cursor: pointer;
                            text-transform: uppercase;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                        }
                        .xiegan {
                            flex: 1;
                            color: #ff9c00;
                        }
                    }
                }
            }
        }  
        .service {
            position: fixed;
            z-index: 200;
            right: 0px;
            top: 30%;
            cursor: pointer;
        }
    }
</style>
<style lang="less">
    .gaoList {
        .el-table__header-wrapper {
            display: none !important;
        }
        .el-table__row {
            cursor: pointer;
        }
        .el-table__row:hover {
            color: #F56C6C;
        }
    }
</style>
