<template>
    <div id="header1">
        <div class="headerbox">
            <div class="header">
                <div class="header-box">
                    <!-- <div class="userBox">
                        <div>娱乐城，欢迎您<span v-if="isLogin">【<a @click="$router.push('/home')" > <label style="cursor: pointer;">{{user.name}}</label></a>】</span></div>
                    </div> -->
                    <div class="announce">
                        <div class="announce-box">
                            <div class="iconfont icon-gonggao"></div>
                            <div>最新公告：</div>
                            <div class="announce-scroll">
                                <marquee @viewBoards="viewBoards" :marqueeList="list" height="30px" width="100%" color="#ffffff" fontSize="16px" />
                            </div>
                        </div>
                    </div>
                    <div class="rightBtn">
                        <div class="regis" v-if="!isLogin">还没有账户快来<span @click="$store.commit('ShowGlobal','register')">注册</span></div>
                        <el-tooltip class="item" effect="light" placement="bottom">
                            <div class="content-box" slot="content">
                                <div style="font-size: 18px; text-align:center; color: rgba(0,0,0,.87);">扫码下载APP</div>
                                <div>
<!--                                    <img src="../assets/appx.png" alt="">-->
                                </div>
                            </div>
                            <div class="appBtn">
                                <div class="iconfont icon-appxiazai"></div>
                                <div>APP下载</div>
                            </div>
                        </el-tooltip>
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="nav-box">
                    <ul>
                        <li :class="{active: Cpath == '/'}" @click="view('/')">
                            <div class="navName">
                                <i class="iconfont icon-home"></i>
                                <h2>主页</h2>
                                <p>HOME</p>
                            </div>
                        </li>
                        <template v-for="(menu,i) in menus">
                            <li :class="{active: Cpath == menu.Action}" @click="view(menu.Action)">
                                <div class="navName">
                                    <i :class="['iconfont', menu.Icon]"></i>
                                    <h2>{{menu.Title}}</h2>
                                    <p>{{menu.TitleEn}}</p>
                                </div>
                            </li>
                            <div class="logobox" v-if="i == '2'" @click="view('./')">
                                <img src="../assets/mg/logo.png" alt="">
                            </div>
                        </template>
                    </ul>
                </div>
            </div>
            <div class="login-box">
                <el-form label-position="top" :inline="true" :model="person" :rules="rules" ref="ruleForm" class="text-xs-left loginform" v-if="!isLogin">
                    <el-form-item prop="RegName">
                        <el-input v-model="person.RegName" placeholder="请输入用户名" size="mini">
                            <i slot="prefix" class="el-icon-user-solid"></i>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="Passwd">
                        <el-input v-model="person.Passwd" placeholder="新输入密码" size="mini" show-password>
                            <i slot="prefix" class="el-icon-lock"></i>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-checkbox v-model="CheckBox">记住密码</el-checkbox>
                    </el-form-item>
                    <el-form-item>
                        <v-btn :loading="loging" block color="primary" small dark @click="login('ruleForm')" class="login-btn">会员登录</v-btn>
                    </el-form-item>
                    <el-form-item>
                        <div class="forget">
                            <div class="forgetbtn" @click="$store.commit('ShowGlobal','forget')">忘记密码</div>
                            <span class="xie">|</span>
                            <div class="forgetbtn" @click="$store.commit('ShowGlobal','register')">免费注册</div>
                        </div>
                    </el-form-item>
                </el-form>
                <div class="islog" v-if="isLogin">
                    <div>娱乐城，欢迎您<span>【<span @click="$router.push('/home')" > <label style="cursor: pointer;">{{user.name}}</label></span>】</span></div>
                    <el-tooltip class="item" effect="light" placement="bottom">
                        <div slot="content">
                            <div v-for="item in balance">
                                <span style="font-size:14px;color:#958ea0;">{{item.name}}：</span> <span style="font-size:14px;" class="cyan--text lighten-2">{{config.unit}} {{item.balance|money}}</span>
                            </div>
                        </div>
                        <div class="appBtn" @click="loadBalance">
                            <div>余额</div>
                            <div class="iconfont icon-unie62a" :class="{ spin: balanceloading }" style="margin-left: 5px;"></div>
                        </div>
                    </el-tooltip>
                    <v-btn :loading="loging" color="primary" small dark @click="Home('deposit')">存款</v-btn>
                    <v-btn :loading="loging" color="primary" small dark @click="Home('withdrawal')">提款</v-btn>
                    <v-btn :loading="loging" color="primary" small dark @click="logout">安全退出</v-btn>
                </div>
            </div>
        </div>
        <el-dialog title="公告信息" :visible.sync="dialogTableVisible">
            <el-table :data="boards" class="gaoList">
                <el-table-column label="标题">
                    <template slot-scope="scope">
                        <div @click="viewBoards(scope.$index)">{{scope.row.title}}</div>
                    </template>
                </el-table-column>
                <el-table-column label="日期" width="200" align="right">
                    <template slot-scope="scope">
                        <div @click="viewBoards(scope.$index)">{{scope.row.created | formatDate}}</div>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog width="30%" :title="boardsTitle" :visible.sync="innerVisible" append-to-body>
                <div v-html="boardsContent"></div>
            </el-dialog>
        </el-dialog>
        <div class="service">
            <el-tooltip class="item" effect="dark" content="存款" placement="left-start">
                <img src="../assets/mg/cunkuan.png" alt="" @click="$store.dispatch('userCenter','deposit')">
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="取款" placement="left-start" >
                <img src="../assets/mg/tixian.png" alt="" @click="$store.dispatch('userCenter','withdrawal')">
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="在线客服" placement="left-start">
                <img src="../assets/mg/service.png" alt="" @click="live">
            </el-tooltip>
        </div>
    </div>
</template>

<script>
    import Marquee from '../marquee/Marquee'
    import api from '@/api'
    export default {
        name: 'header2',
        components: {
            Marquee
        },
        props:{

        },
        data () {
            return {
                dialogTableVisible: false,
                innerVisible: false,
                boardsTitle: '',
                boardsContent: '',
                active: '主页',
                CheckBox:false,
                rules: {
                    RegName: [
                        { required: true, message: '用户名不能为空', trigger: 'blur' }
                    ],
                    Passwd: [
                        { required: true, message: '密码不能为空', trigger: 'blur' }
                    ],
                },
                person: {
                    RegName: "",
                    Passwd: "",
                },
                nameError: [],
                passwordError: [],
                loging: false,
                menus:[
                    {
                        "Id": 3,
                        "Title": "真人娱乐",
                        "TitleEn": "Citizen",
                        "Action": "/live",
                        "Icon": "icon--chouma"
                    },
                    {
                        "Id": 4,
                        "Title": "彩票投注",
                        "TitleEn": "LOTTERY",
                        "Action": "/ultimate",
                        "Icon": "icon-lunpan"
                    },
                    {
                        "Id": 5,
                        "Title": "棋牌对战",
                        "TitleEn": "CHESS",
                        "Action": "/play/46297061913392",
                        "Icon": "icon-qipaishi"
                    },
                    {
                        "Id": 6,
                        "Title": "AG捕鱼",
                        "TitleEn": "FISHING",
                        "Action": "/play/tfxC0CZVbkhe",
                        "Icon": "icon-fish"
                    },
                    {
                        "Id": 7,
                        "Title": "电子游戏",
                        "TitleEn": "GAME",
                        "Action": "/slot",
                        "Icon": "icon-94"
                    },
                    {
                        "Id": 8,
                        "Title": "CS体育",
                        "TitleEn": "CS SPORT",
                        "Action": "/cssport",
                        "Icon": "icon-zuqiu"
                    },
                    {
                        "Id": 10,
                        "Title": "个人中心",
                        "TitleEn": "Personal center",
                        "Action": "/home",
                        "Icon": "icon-gerenxinxi"
                    }
                ]
            }
        },
        computed:{
            boards() {
                return this.$store.getters.boards
            },
            isLogin() {
                return !!(this.$store.getters.token && Object.keys(this.$store.getters.user).length != 0)
            },
            user() {
                let user = this.$store.getters.user
                if (this.isLogin == false) {
                    user["name"] = this.config["visitor"]
                }
                return user
            },
            config() {
                return this.$store.getters.config
            },
            balance() {
                return this.$store.getters.balance
            },
            // menus() {
            //     return this.$store.getters.menus
            // },
            fullscreen() {
                return this.$store.getters.fullscreen
            },
            Cpath() {
                return this.$route.path
            },
            list(){
                let list = [];
                let boards = this.$store.getters.boards;
                let n = boards.length;
                for(let i =0; i < n; i++){
                    list.push(boards[i].title+'：'+boards[i].content);
                }
                return list
            },
            balanceloading() {
                return this.$store.getters.loadBalance
            },
        },
        beforeCreate () {
            
        },
        created () {
            
        },
        mounted () {
            
        },
        beforeUpdate () {

        },
        updated () {

        },
        activated () {

        },
        deactivated () {

        },
        beforeDestroy () {

        },
        destroyed () {

        },
        methods: {
            live () {
                window.console.log("2222")
                window.$zopim.livechat.window.show();
            },
            viewBoards (i) {
                this.dialogTableVisible = true;
                setTimeout(() => {
                    this.innerVisible = true;
                }, 1)
                this.boardsTitle = this.boards[i].title;
                this.boardsContent = this.boards[i].content;
            },
            view (link) {
                this.$router.push({path:link});
            },
            loadBalance () {
                if (this.isLogin) {
                    this.$store.dispatch("BALANCE")
                }
            },
            Home (box) {
                this.$store.dispatch("userCenter", box)
            },
            logout () {
                api.get("/logout")
                this.$store.commit('LOGOUT')
                this.$store.commit('MsgOk', "退出成功")
                this.$router.push("/");
            },
            login (formName) {
                this.$refs[formName].validate((valid) => {
                    this.loging = true;
                    let _ = this;
                    if (valid) {
                        api.post('login', {
                            Name: _.person.RegName,
                            Passwd: _.person.Passwd,
                        }).then(function(res) {
                            _.$store.commit('ShowGlobal', "")
                            _.$store.commit('onUserLogin', res.result)
                            if(_.CheckBox){_.$store.commit('Remeber',{'n':_.person.RegName,'p':_.person.Passwd}) }else{
                                localStorage.removeItem("__r")
                            }
                            _.$store.dispatch("BALANCE")
                            _.$store.dispatch("PING")
                            _.$store.commit("MsgOk",'登录成功')
                            _.loging = false
                        }).catch(function(error) {
                            console.log(error)
                            _.loging = false
                            _.nameError.push(error.error)
                            _.passwordError.push(error.error)
                            _.$store.commit('MsgError',error.error)
                        })
                    } else {
                        this.loging = false;
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
        },
        watch: {
            
        }
    }
</script>

<style lang="less" scoped>
    #header1 {
        .headerbox {
            position: fixed;
            z-index: 200;
            width: 100%;
            .login-box {
                width: 900px;
                margin: 0 auto;
                background: url('../assets/mg/box.png') no-repeat;
                background-size: 100% 100%;
                padding: 5px 60px;
                .forget {
                    display: flex;
                    color: #898989;
                    .forgetbtn {
                        cursor: pointer;
                    }
                    .xie {
                        margin: 0 5px;
                    }
                }
            }
            .islog {
                display: flex;
                color: #fff;
                align-items: center;
                justify-content: space-between;
                .item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
        .el-form-item {
            margin-bottom: 0px !important;
        }

        .header {
            background: url('../assets/mg/headerbg.png') no-repeat;
            background-size: cover;
            padding: 15px 0;
            .header-box {
                width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .userBox {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    font-size: 14px;
                    a {
                        color: #fff;
                    }
                }
                .announce {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 14px;
                    width: 500px;
                    .announce-box {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .iconfont {
                            font-size: 18px;
                            margin: 0 5px;
                            color: #fff;
                        }
                        .announce-scroll {
                            flex: 1;
                            border-radius: 5px;
                            height: 30px;
                            text-align: left;
                        }
                    }
                }
                .rightBtn {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: #fff;
                    font-size: 14px;
                    .appBtn {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                        cursor: pointer;
                        .iconfont {
                            font-size: 18px;
                            margin-left: 5px;
                        }
                    }
                    .loginBtn {
                        cursor: pointer;
                        border: 1px solid #8d33e2;
                        color: #8d33e2;
                        border-radius: 5px;
                        font-size: 12px;
                        margin: 0 5px 0 0;
                        padding: 2px 8px;
                    }
                    .registerBtn {
                        font-size: 12px;
                        color: #191919;
                        background: #8d33e2;
                        padding: 2px 8px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
        .nav {
            border-top: 1px solid #262626;
            border-bottom: 1px solid #8d33e2;
            background: url('../assets/mg/headerbg.png') no-repeat;
            background-size: cover;
            .nav-box {
                width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logobox {
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }
                }
                ul {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    .active,li:hover {
                        border: none;
                        color: #8d33e2;
                        position: relative;
                        border-bottom: 2px solid #8d33e2;
                    }
                    li {
                        text-align: center;
                        color: #fff;
                        position: relative;
                        cursor: pointer;
                        padding: 0 10px;
                        border-bottom: 2px solid rgba(255, 255, 255, 0);
                        .navName {
                            padding: 10px 0;
                            margin: 0 20px;
                            text-transform: uppercase;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            i {
                                font-size: 32px;
                            }
                            h2 {
                                font-size: 14px;
                                text-align: center;
                                font-weight: normal;
                            }
                            p {
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                        .navicon {
                            margin-left: 5px;
                            i {
                                font-size: 32px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }  
        .service {
            position: fixed;
            z-index: 200;
            right: 0px;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            img {
                cursor: pointer;
                margin-top: 20px;
                width: 55px;
            }
        }
    }
    .regis  {
        display: flex;
        align-items: center;
        span {
            color: #ff0000;
            text-decoration: underline;
            margin: 0 10px 0 5px;
            cursor: pointer;
        }
    }
    .spin {
        -webkit-animation: rotating .5s linear infinite;
        animation: rotating .5s linear infinite;
    }
    .login-btn {
        line-height: normal;
    }
</style>
<style lang="less">
    .gaoList {
        .el-table__header-wrapper {
            display: none !important;
        }
        .el-table__row {
            cursor: pointer;
        }
        .el-table__row:hover {
            color: #F56C6C;
        }
    }
    .login-box {
        .el-input__inner {
            background: rgba(255, 255, 255, 0) !important;
            border: 1px solid #4e4e4e;
            color: #fff !important;
        }
        .el-checkbox__inner {
            background: rgba(255, 255, 255, 0);
        }
        .el-form-item__error {
            padding: 4px !important;
            background: rgba(0, 0, 0, .9);
        }
    }
</style>
