<template>
<v-toolbar class="primary" dark height="48" v-show="!fullscreen">
    <v-toolbar-items class="page-container">
        <v-btn flat ripple class="subheading" :to="'/'">
            <v-icon>home</v-icon>
            主页
        </v-btn>
        <template v-for="(menu,x) in menus">
            <!--template v-if="Object.keys(menu.items).length != 0">
                <v-menu :open-on-hover="true" :top="false" offset-y max-width="30%" :key="x+'m'">
                    <v-btn slot="activator" flat ripple class="subheading" :to='menu.Action' :target='menu.Blank == true ? "_blank":""'>
                        {{ menu.Title }}
                    </v-btn>
                    <v-card class="nav_menu">
                        <v-list subheader>
                            <template v-for="(item,group,i) in menu.items">
                                <v-subheader class="cyan--text darken-1" v-if="group!=''" :key="i+'s'">{{group}}</v-subheader>
                                <v-layout row wrap :key="i">
                                    <v-flex d-flex md3 v-for="(subitem,index) in item" :key="index">
                                        <v-list-tile class="grey--text lighten-1 caption">
                                            <v-btn flat class="pa-0 ma-0" :to='subitem.Action' :target='subitem.Blank == true ? "_blank":""'>{{subitem.Title}}</v-btn>
                                        </v-list-tile>
                                    </v-flex>
                                </v-layout>
                                <v-divider v-if="i+1 < Object.keys(menu.items).length" :key="i+'d'"></v-divider>
                            </template>
                        </v-list>
                    </v-card>
                </v-menu>
            </template>
            <template v-else-->
                <a class="subheading v-btn v-btn--flat v-btn--router" v-if="menu.Action != ''" :href="checkUri(menu.Action)"  :target='menu.Blank == true ? "_blank":""'>
                    <div class="v-btn__content">
                    {{ menu.Title }}
                    </div>
                </a>
                <v-btn v-else flat ripple class="subheading" @click="gogo('','')" :key="x">
                    {{ menu.Title }}
                </v-btn>
            <!--/template-->
        </template>
    </v-toolbar-items>
</v-toolbar>
</template>

<script>
export default {
    name: 'wheader',
    computed: {
        menus() {
            return this.$store.getters.menus
        },
        config() {
            return this.$store.getters.config
        },
        fullscreen () {
                return this.$store.getters.fullscreen
        }
    },
    methods: {
        checkUri :function (uri) {
            var reg = /^(http|ftp|https)/g
            if (reg.test(uri)) {
               return uri
            }
            return "/#"+uri
        },
        gogo: function (r, b) {
            if (r == '') {
                this.$store.commit("MsgError", (this.config['maintaining'] ? this.config['maintaining'] : "系统维护中，请耐心等待"))
            } else {
                var reg = /^(http|ftp|https)/g
                if (reg.test(r)) {
                    b = true
                }
                if (b == true) {
                    window.open(r, '_blank')
                } else {
                    this.$router.push(r)
                }
            }
            return false
        }
    }
}
</script>
