<template>
<v-toolbar class="white" height="100" v-show="!fullscreen">
    <v-flex md2 py-1 mt-4>
            <v-card flat class="transparent text-xs-left">
                <img :src="logo"/>
            </v-card>
        </v-flex>
    <v-spacer></v-spacer>
    <v-toolbar-items  class="hidden-sm-and-down">
      <v-btn height="30" right flat :to="'/'">
            <v-icon>home</v-icon>
            主页
        </v-btn>
      <v-btn flat v-for="(menu,x) in menus">{{ menu.Title }}</v-btn>
    </v-toolbar-items>
</v-toolbar>
</template>
<style>
    .subheading :hover{
        color: red;
        background-color: blue;
    }
    .subheading{
        background-color: blue
    }
</style>
<script>
export default {
    name: 'wheader',
    computed: {
        menus() {
            return this.$store.getters.menus
        },
        config() {
            return this.$store.getters.config
        },
        fullscreen () {
                return this.$store.getters.fullscreen
        }
    },
    data() {
            return {
                "logo": require('../assets/logo.png'),
            }
        },
    methods: {
        checkUri :function (uri) {
            var reg = /^(http|ftp|https)/g
            if (reg.test(uri)) {
               return uri
            }
            return "/#"+uri
        },
        gogo: function (r, b) {
            if (r == '') {
                this.$store.commit("MsgError", (this.config['maintaining'] ? this.config['maintaining'] : "系统维护中，请耐心等待"))
            } else {
                var reg = /^(http|ftp|https)/g
                if (reg.test(r)) {
                    b = true
                }
                if (b == true) {
                    window.open(r, '_blank')
                } else {
                    this.$router.push(r)
                }
            }
            return false
        }
    }
}
</script>
