<template>
    <v-dialog v-model="loginBox" persistent max-width="500px">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-toolbar-title class="headline">会员登录</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-menu bottom left>
                        <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-menu>
                </v-toolbar>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="RegName" :error-messages="nameError" prepend-icon="person" label="请输入您的帐号" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="Passwd" :error-messages="passwordError" prepend-icon="lock" label="请输入您的密码" required :append-icon="visibility ? 'visibility_off' : 'visibility'" :type="visibility ? 'text' : 'password'" counter @click:append="visibility = !visibility" @keyup.enter="login"></v-text-field>
                            </v-flex>
                            <!--v-flex xs8>
                                <v-text-field prepend-icon="image" label="请输入验证码" type="password" required></v-text-field>
                            </v-flex>
                            <v-flex xs4>
                                <v-card-media src="" height="50px"></v-card-media>
                            </v-flex-->
                            <v-flex xs12>
                            <v-layout align-center>
                                <v-checkbox v-model="CheckBox" hide-details class="shrink mr-1 mt-0 ml-1">
                                    <div slot="label">
                                        记住密码
                                    </div>
                                </v-checkbox>
                            </v-layout>
                        </v-flex>
                            <v-flex xs12>
                                <v-btn color="primary" block :loading="loging" :disabled="loging" @click="login">
                                    登录
                                    <span slot="loader">登录中...</span>
                                </v-btn>
                            </v-flex>
                            <v-flex xs12>
                                <v-btn color="grey darken-1" flat @click.native="$store.commit('ShowGlobal','forget')">忘记密码</v-btn> |
                                <v-btn color="grey darken-1" flat @click.native="$store.commit('ShowGlobal','register')">免费注册</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    
</template>

<script>
    import api from '@/api'
    export default {
        name: 'login',
        data() {
            return {
                visibility:false,
                loging: false,
                RegName: "",
                nameError: [],
                Passwd: "",
                passwordError: [],
                CheckBox:false
            }
        },
        watch: {
            RegName() {
                this.nameError = []
            },
            Passwd() {
                this.passwordError = []
            },
            Remeber(v) {
                if (v) {
                    this.CheckBox = true
                    this.RegName = v.n
                    this.Passwd = v.p
                }
            }
        },
        computed: {
            loginBox() {
                return this.$store.getters.modalBox == this.$options.name
            },
            Remeber () {
                return this.$store.getters.remeber
            }
        },
        mounted() {
            this.$store.dispatch("Remeber")
        },
        methods: {
            login: function() {
                if (this.RegName == "") {
                    this.nameError.push("帐号不能为空")
                    return false
                }
                if (this.Passwd == "") {
                    this.passwordError.push("密码不能为空")
                    return false
                }

                let _ = this
                _.loging = true
                api.post('login', {
                    Name: this.RegName,
                    Passwd: this.Passwd,
                }).then(function(res) {
                    _.$store.commit('ShowGlobal', "")
                    _.$store.commit('onUserLogin', res.result)
                    if(_.CheckBox){_.$store.commit('Remeber',{'n':_.RegName,'p':_.Passwd}) }else{
                        localStorage.removeItem("__r")
                    }
                    _.$store.dispatch("BALANCE")
                    _.$store.dispatch("PING")
                    _.$store.commit("MsgOk",'登录成功')
                    _.loging = false
                }).catch(function(error) {
                    console.log(error)
                    _.loging = false
                    _.nameError.push(error.error)
                    _.passwordError.push(error.error)
                    _.$store.commit('MsgError',error.error)
                })
                return false
            }
        }
    
    }
</script>
