<template>
    <div id="banner">
        <swiper :options="swiperOption" ref="mySwiper" v-if="Cpath === '/'">
            <swiper-slide v-for="(item,i) in banner" :key="i">
                <img :src="item.src" alt="">
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
        <div class="banner-other" v-else>
            <img v-for="(item,i) in banner" :key="i" :src="item.src" alt="">
        </div>
        <div class="flagBox" v-if="Cpath === '/'">
            <div class="flag-inner">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content">
                            <img src="../assets/mg/gpyx.png" alt="">
                            <div class="text-box">
                                <h1>游戏</h1>
                                <h3>公平公正</h3>
                                <p>娱乐平台乃现时亚洲市场最具权威及最先进的科技系统所提供</p>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <img src="../assets/mg/bmaq.png" alt="">
                            <div class="text-box">
                                <h1>信息</h1>
                                <h3>保密安全</h3>
                                <p>本公司更用上最先进的加密措施来保证游戏的安全以及玩家的信息安全</p>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <img src="../assets/mg/cxdd.png" alt="">
                            <div class="text-box">
                                <h1>态度</h1>
                                <h3>诚心对待</h3>
                                <p>提供最新、最安全、最准确的专业博彩数据，全方位的国际化服务</p>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <img src="../assets/mg/yxfw.png" alt="">
                            <div class="text-box">
                                <h1>服务</h1>
                                <h3>专业优质</h3>
                                <p>平台的服务宗旨顾客至上的宗旨，开拓多元化的娱乐业务</p>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
        <div class="zrbox" v-if="Cpath === '/live'">
            <div class="zrbox-inner">
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="grid-content">
                            <img src="../assets/mg/zrtop1.png" alt="">
                            <div class="text-box">
                                <h1>真人娱乐</h1>
                                <p>在线畅连实体</p>
                                <p>赌厅桌台下注</p>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="grid-content">
                            <img src="../assets/mg/zrtop2.png" alt="">
                            <div class="text-box lastchild">
                                <h1>SAG真人AG真人</h1>
                                <p>全球首发，6张牌先发</p>
                                <p>中文美女主播，陪你high聊</p>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</template>

<script>
    import 'swiper/dist/css/swiper.css'
    import { swiper, swiperSlide } from 'vue-awesome-swiper'
    import Marquee from '../marquee/Marquee'
    import api from '@/api'
	export default {
		name: 'lunbo',
		components: {
            Marquee,
            swiper,
            swiperSlide
        },
        props:{
            banner: {
                type: Array,
                default: []
            },
            height: {
                type: Number,
                default: 450
            }
        },
        data () {
            return {
                bannerHeight: 0,
                count: 0,
                CheckBox:false,
                rules: {
                    RegName: [
                        { required: true, message: '用户名不能为空', trigger: 'blur' }
                    ],
                    Passwd: [
                        { required: true, message: '密码不能为空', trigger: 'blur' }
                    ],
                },
                person: {
                    RegName: "",
                    Passwd: "",
                },
                nameError: [],
                passwordError: [],
                loging: false,
                dialogTableVisible: false,
                innerVisible: false,
                boardsTitle: '',
                boardsContent: '',
                swiperOption: {
                    autoplay: true,
                    loop: true,
                    autoHeight: true,
                    grabCursor: true,
                    pagination: {
                        el: '.swiper-pagination'
                    },
                    
                }
            }
        },
        computed:{
            spotlights() {
                return this.$store.getters.spotlights
            },
            config() {
                return this.$store.getters.config
            },
            loginBox() {
                return this.$store.getters.modalBox == this.$options.name
            },
            Remeber () {
                return this.$store.getters.remeber
            },
            boards() {
                return this.$store.getters.boards
            },
            isLogin() {
                return !!(this.$store.getters.token && Object.keys(this.$store.getters.user).length != 0)
            },
            user() {
                let user = this.$store.getters.user
                if (this.isLogin == false) {
                    user["name"] = this.config["visitor"]
                }
                return user
            },
            balance() {
                return this.$store.getters.balance
            },
            balanceloading() {
                return this.$store.getters.loadBalance
            },
            list(){
                let list = [];
                let boards = this.$store.getters.boards;
                let n = boards.length;
                for(let i =0; i < n; i++){
                    list.push(boards[i].title+'：'+boards[i].content);
                }
                return list
            },
            Cpath() {
                return this.$route.path
            },
        },
        beforeCreate () {
            
        },
        created () {
            
        },
        beforeMount() {
            this.$store.dispatch("SPOTLIGHTS")
        },
        mounted () {
            this.$store.dispatch("Remeber");
            this.swiperOption.autoplay = true;
        },
        beforeUpdate () {

        },
        updated () {

        },
        activated () {

        },
        deactivated () {

        },
        beforeDestroy () {

        },
        destroyed () {

        },
        methods: {
            view (link) {
                this.$router.push({path:link});
            },
            showPic (src) {
                var reg = /^(http|ftp|https)/g
                if (!reg.test(src)) {
                    src = this.config['image_url'] ? (this.config['image_url'] + src) : src
                }
                return src
            },
            login (formName) {
                this.$refs[formName].validate((valid) => {
                    this.loging = true;
                    let _ = this;
                    if (valid) {
                        api.post('login', {
                            Name: _.person.RegName,
                            Passwd: _.person.Passwd,
                        }).then(function(res) {
                            _.$store.commit('ShowGlobal', "")
                            _.$store.commit('onUserLogin', res.result)
                            if(_.CheckBox){_.$store.commit('Remeber',{'n':_.person.RegName,'p':_.person.Passwd}) }else{
                                localStorage.removeItem("__r")
                            }
                            _.$store.dispatch("BALANCE")
                            _.$store.dispatch("PING")
                            _.$store.commit("MsgOk",'登录成功')
                            _.loging = false
                        }).catch(function(error) {
                            console.log(error)
                            _.loging = false
                            _.nameError.push(error.error)
                            _.passwordError.push(error.error)
                            _.$store.commit('MsgError',error.error)
                        })
                    } else {
                        this.loging = false;
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            logout () {
                api.get("/logout")
                this.$store.commit('LOGOUT')
                this.$store.commit('MsgOk', "退出成功")
                this.$router.push("/");
            },
            loadBalance () {
                if (this.isLogin) {
                    this.$store.dispatch("BALANCE")
                }
            },
            viewBoards (i) {
                this.dialogTableVisible = true;
                setTimeout(() => {
                    this.innerVisible = true;
                }, 1)
                this.boardsTitle = this.boards[i].title;
                this.boardsContent = this.boards[i].content;
            },
        },
        watch: {
            Remeber(v) {
                if (v) {
                    this.CheckBox = true
                    this.person.RegName = v.n
                    this.person.Passwd = v.p
                }
            }
        }
    }
</script>

<style lang="less" scoped>
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 17vw !important;
    }
    #banner {
        width: 100%;
        background: #020307;
        position: relative;
        margin-top: -10px;
        .banner-other {
            img {
                width: 100%;
            }
        }
        .swiper-slide {
            img {
                width: 100%;
            }
        }
        .zrbox {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: -100px;
            z-index: 9;
            .zrbox-inner {
                width: 1200px;
                margin: 0 auto;
                .grid-content {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .text-box {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        text-align: right;
                        padding: 15px;
                        h1 {
                            font-size: 36px;
                            color: #8a63ec;
                            font-weight: normal;
                            margin-bottom: 5px;
                        }
                        p {
                            font-size: 16px;
                            color: #999;
                            line-height: 32px;
                        }
                    }
                    .lastchild{
                        text-align: left;
                    }
                }
            }
        }
        .flagBox {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: -220px;
            z-index: 9;
            .flag-inner {
                width: 1200px;
                margin: 0 auto;
                .grid-content {
                    background: #1c1c1c;
                    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
                    img {
                        width: 100%;
                    }
                    .text-box {
                        text-align: center;
                        padding: 15px 50px;
                        h1 {
                            font-size: 36px;
                            color: #8a63ec;
                            font-weight: normal;
                        }
                        h3 {
                            font-size: 36px;
                            color: #fff;
                            font-weight: normal;
                        }
                        p {
                            font-size: 16px;
                            color: #999;
                            padding: 15px 0 30px 0;
                            line-height: 28px;
                            border-top: 1px solid #999;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
</style>
<style lang="less">
    .swiper-pagination-bullet {
        width: 60px !important;
        height: 3px !important;
        border-radius: 0px !important;
        background: #fff;
    }
    .swiper-pagination-bullet {
        opacity: 1 !important;
    }
    .swiper-pagination-bullet-active {
        opacity: 1 !important;
        background: #8d33e2;
    }
</style>
