<template>
<v-dialog v-model="registerBox" persistent max-width="500px">
    <v-card>
        <v-toolbar dark color="primary">
            <v-toolbar-title class="headline">注册登录</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu bottom left>
                <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-menu>
        </v-toolbar>
        <v-card-text>
            <v-container grid-list-md>
                <form>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field v-model="RegName" :error-messages="nameError" prepend-icon="person" label="请输入您的帐号" required hint="帐号长度为6~16位(小写字母和数字)" persistent-hint maxlength="16" @blur="check()"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="Passwd" :error-messages="passwordError" prepend-icon="lock" label="请输入您的密码" hint="密码长度为6~16位" persistent-hint maxlength="16" required :append-icon="visibility ? 'visibility_off' : 'visibility'" :type="visibility ? 'text' : 'password'" counter="16" @click:append="visibility = !visibility"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="RePasswd" :error-messages="passwordError" prepend-icon="lock" label="请确认您的密码" maxlength="16" required :append-icon="visibility ? 'visibility_off' : 'visibility'" :type="visibility ? 'text' : 'password'" counter="16" @click:append="visibility = !visibility"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="Mobile" :error-messages="mobileError" prepend-icon="mobile_friendly" label="请输入手机号码" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-layout align-center>
                                <v-checkbox v-model="CheckBox" hide-details class="shrink mr-1 mt-0 ml-1">
                                    <div slot="label">
                                        【我已满18周岁并同意
                                        <v-tooltip bottom>
                                            <a slot="activator" target="_blank"  style="text-decoration: none"  href="/#/help/3">用户使用条款</a>
                                            点击查看用户条款
                                        </v-tooltip>
                                        及隐私政策】
                                    </div>
                                </v-checkbox>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn color="primary" block :loading="loging" :disabled="loging" @click="register">
                                注册
                                <span slot="loader">提交中...</span>
                            </v-btn>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn color="grey darken-1" flat @click.native="$store.commit('ShowGlobal','login')">已有账户</v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-container>
        </v-card-text>
    </v-card>
</v-dialog>
</template>

<script>
import api from '@/api'

export default {
    name: 'register',
    data() {
        return {
            visibility: false,
            loging: false,
            RegName: "",
            nameError: [],
            Passwd: "",
            RePasswd: "",
            mobileError: [],
            passwordError: [],
            CheckBox: false,
            Mobile: ""
        }
    },
    watch: {
        RegName() {
            this.nameError = []
        },
        Passwd() {
            this.passwordError = []
        },
        RePasswd() {
            this.passwordError = []
        },
        Mobile() {
            this.mobileError = []
        }
    },
    computed: {
        registerBox() {
            return this.$store.getters.modalBox == this.$options.name
        }
    },
    methods: {
        register: function () {

            if (this.RegName == "") {
                this.nameError.push("帐号不能为空")
                return false
            }
            var uPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,16}$/;
            // var uPattern = /^[a-zA-Z0-9_-]{6,16}$/;
            if (!uPattern.test(this.RegName)) {
                this.nameError.push("帐号长度为6 ~ 16位(小写字母和数字)")
                return false
            }
            if (this.Passwd == "") {
                this.passwordError.push("密码不能为空")
                return false
            }
            if (this.Passwd.length < 6 || this.Passwd.length > 16) {
                this.passwordError.push("密码长度为6~16位")
                return false
            }
            if (this.Passwd != this.RePasswd) {
                this.passwordError.push("两次密码输入不一致")
                return false
            }
            var pre = /^[1][3456789][0-9]{9}$/
            if (this.Mobile == "" || !pre.test(this.Mobile)) {
                this.mobileError.push("请输入正确的手机号码")
                return false
            }
            if (this.CheckBox == false) {
                this.$store.commit("MsgError", "请确定已满18周岁，并同意条款。")
                return false
            }
            let _ = this
            _.loging = true
            api.post('pc/register', {
                Name: this.RegName,
                Passwd: this.Passwd,
                RePasswd: this.RePasswd,
                Mobile: this.Mobile,
            }).then(function (res) {
                _.loging = false
                _.$store.commit("MsgOk", '注册成功')
                _.$store.commit('ShowGlobal', 'login')
            }).catch(function (error) {
                _.loging = false
                _.nameError.push(error.error)
                _.$store.commit("MsgError", error.error)
            })
            return false
        },
        check :function(){
            if (this.RegName.length >= 6 && this.RegName.length <= 16 ) {
                var _ =this
                api.post("/check/" + this.RegName).catch(function (error) {_.nameError.push(error.error)})
            }
        }
    }

}
</script>
