<template>
    <div class="geNav">
        <div class="geNav-risk" v-for="(item,i) in left" :key="i">
            <div class="getitle">
                <img :src="item.src" alt="">
                <h2>{{item.title}}</h2>
            </div>
            <div class="second-list">
                <ul>
                    <li :class="{active:cur == subItem.href}" v-for="subItem in item.children" :key="subItem.title" @click="$store.commit('ShowCentre',subItem.href)">{{subItem.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        name: 'left',
        computed : {
            cur () {
                return this.$store.getters.centreBox
            }
        },
        mounted() {
            
        },
        data() {
            return {
                panel:[false,false,false],
                pos:{"centre":0,"deposit":0,"withdrawal":0,"password":1,"drecord":2,"wrecord":2,"grecord":2},
                left: [
                    {
                        title: "个人信息",
                        titlen: "Personal Data",
                        href: "",
                        action: "perm_identity",
                        src: require('../../assets/mg/grxx1.png'),
                        children: [{
                                        title: "个人信息",
                                        icon: "icon-gerenxinxi",
                                        href: "profile"
                                    },
                                    {
                                        title: "银行信息",
                                        icon: "icon-yinhangxinxiguanli",
                                        href: "cards"
                                    },
                                    {
                                        title: "登录密码",
                                        icon: "icon-loginpasswordicon",
                                        href: "password"
                                    },
                                    {
                                        title: "取款密码",
                                        icon: "icon-mima",
                                        href: "wpassword"
                                    }]
                    },{
                        title: "个人钱包",
                        titlen: "Personal Wallet",
                        action: "payment",
                        src: require('../../assets/mg/grxx2.png'),
                        children: [
                            
                            {
                                title: "我的钱包",
                                icon: "icon-qianbao",
                                href: "centre"
                            },
                            {
                                title: "我要存款",
                                icon: "icon-cunkuan",
                                href: "deposit"
                            },
                            {
                                title: "我要提现",
                                icon: "icon-qukuanjilu",
                                href: "withdrawal"
                            }
                        ]
                    },
                    {
                        title: "交易记录",
                        titlen: "Transaction",
                        href: "",
                        action: "swap_horiz",
                        src: require('../../assets/mg/grxx3.png'),
                        children: [{
                                title: "存款记录",
                                icon: "icon-cunkuan1",
                                href: "drecord"
                            },
                            {
                                title: "取款记录",
                                icon: "icon-cunqukuanyewupingdan",
                                href: "wrecord"
                            },
                            {
                                title: "游戏记录",
                                icon: "icon-wanjia",
                                href: "grecord"
                            }
                        ]
                    }
    
                ]
            }
        }
    }
</script>

<style lang='less' scoped>
    .geNav {
        margin-right: 20px;
        .geNav-risk {
            .getitle {
                background: #1d1d1d;
                background-size: 100% 100%;
                color: #fff;
                padding: 15px 20px;
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                    width: 25%;
                }
                h2 {
                    font-weight: normal;
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
            .second-list {
                ul {
                    background: #1d1d1d;
                    padding: 20px;
                    li {
                        list-style: none;
                        padding: 20px 25px;
                        color: #fff;
                        cursor: pointer;
                        text-align: center;
                        i {
                            font-size: 32px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                    li:hover,li.active {
                        color: #8d33e2;
                        position: relative;
                        border: 0 !important;
                    }
                    li:hover:before,li.active:before{
                        content: '';
                        position: absolute;
                        left: 10px;
                        top: 26px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #8d33e2;
                    }
                }
            }
        }
    }
</style>
