<template>
    <v-dialog v-model="orderBox" persistent max-width="500px">
        <v-card>
            <v-toolbar dark color="primary">
                <v-toolbar-title class="headline">入金信息</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom left>
                    <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-menu>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md>
                    <form>
                        <v-layout wrap>
                            <v-flex md12>
                                <v-text-field v-model="order.order" label="订单号" readonly></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="order.bank" label="收款银行" readonly></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="order.card" label="银行卡号" readonly></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="order.name" label="收款人" readonly></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="order.amount" :prefix="config.unit" label="存款金额" readonly></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-tooltip top>
                                    <v-text-field persistent-hint hint="转账时，务必附言四位“确认码“" slot="activator" color="deep-orange" append-icon="help_outline" v-model="order.postscript" label="确认码" readonly class="deep-orange--text"></v-text-field>
                                    <span>转账时，务必附言四位“确认码“</span>
                                </v-tooltip>
                            </v-flex>
                        </v-layout>
                    </form>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
    import api from '@/api'
    export default {
        name: 'order',
        computed: {
            orderBox() {
                return this.$store.getters.modalBox == this.$options.name
            },
            order() {
                return this.$store.getters.order
            },
            config() {
                return this.$store.getters.config
            }
        }
    }
</script>
<style>
.deep-orange--text input, .deep-orange--text textarea{
    color:#ff5722!important;
}
</style>