<template>
    <div class="password">
        <div class="password-box">
            <div class="user-title">修改登录密码</div>
            <el-form label-position="top" :model="passwd" :rules="rules" ref="ruleForm" class="text-xs-left passbox">
                <div class="form-flex">
                    <div class="form-flex-left">
                        <el-form-item label="原登录密码" prop="Old" required>
                            <el-input v-model="passwd.Old" placeholder="请输入原登录密码" show-password></el-input>
                            <div class="tips">请输入原登录密码</div>
                        </el-form-item>
                        <el-form-item label="新登录密码" prop="New" required>
                            <el-input v-model="passwd.New" placeholder="新登录密码，6-16位" show-password></el-input>
                            <div class="tips">(6-16位数字或者字母组合密码)</div>
                        </el-form-item>
                        <el-form-item label="确认新登录密码" prop="ReNew" required>
                            <el-input v-model="passwd.ReNew" placeholder="确认新登录密码，6-16位" show-password></el-input>
                            <div class="tips">(6-16位数字或者字母组合密码)</div>
                        </el-form-item>
                    </div>
                    <div class="banktips">
                        <h3>温馨提示</h3>
                        <ul>
                            <li>密码必须是6-16位字符之间，由字母或数字组成。</li>
                            <li>如您忘记原登录密码，请及时联系在线客服协助找回。</li>
                            <li>定期修改密码可以让您的账户更安全。</li>
                        </ul>
                    </div>
                </div>
                <div class="flexcenter">
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">确认提交</el-button>
                    </el-form-item>
                </div>
            </el-form> 
        </div>
    </div>
</template>
<script>
    import api from '@/api'
    export default {
        components: {},
        name: 'password',
        computed: {
            centreBox() {
                return this.$store.getters.centreBox == this.$options.name
            }
        },
        data () {
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('确认新登录密码不能为空'));
                } else if (value !== this.passwd.New) {
                    callback(new Error('两次密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                visibility: false,
                passwd:{Old:"",New:"",ReNew:""},
                passwordError: [],
                rules: {
                    Old: [
                        { required: true, message: '密码不能为空', trigger: 'blur' }
                    ],
                    New: [
                        { required: true, message: '新密码不能为空', trigger: 'blur' },
                        { min: 6, max: 16, message: '密码长度为6-16位', trigger: 'blur' }
                    ],
                    ReNew: [
                        { validator: validatePass2, trigger: 'blur' }
                    ]
                }
            }
        },
        watch: {
            passwd: {
                handler:function(){
                    this.passwordError= []
                },
                immediate: true,
                deep:true
            }
        },
        methods : {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        api.put('pc/usercentre/password', this.passwd).then(data => {
                            this.$store.commit("MsgOk","修改成功")
                            this.passwd = {}
                        }).catch(error => {
                            this.$store.commit("MsgError",error.error)
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        }
    }
</script>

<style lang='less' scoped>
    .password-box {
        padding-bottom: 97px;
    }
    .flexcenter {
        margin: 30px 0 0 0;
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 25px;
    }
    .passbox {
        margin: 30px 0 0 25px;
    }
    .title {
        justify-content: center;
        margin-top: 20px;
    }
    .icond i {
        font-size: 58px;
        color: #cf9336;
    }
    .form-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .form-flex-left {
            width: 70%;
        }
    }
    .banktips {
        text-align: left;
        padding: 20px;
        margin: 30px 20px;
        border: 1px solid #2f2f2f;
        background: rgba(0,0,0,.1);
        h3 {
            font-size: 16px;
            line-height: 32px;
            color: #fff;
            margin-bottom: 20px;
        }
        ul {
            margin-left: 1em;
            li {
                list-style-type: decimal;
                font-size: 14px;
                line-height: 28px;
                color: #aaa;
            }
        }
    }
</style>
<style lang="less">
    .form-flex-left {
        .el-form-item__content {
            display: flex;
            align-items: center;
            .tips {
                color: #b3b3b3;
                line-height: 18px;
                font-size: 12px;
                margin:  0 0 0 20px;
                width: 40%;
            }
        }
    }
</style>
