<template>
    <div class="profile">
        <v-layout class="profile-box">
            <v-flex xs12>
                <div class="user-title">个人信息</div>
                <div class="formnew">
                    <div class="form-title">个人基础信息（必填）</div>
                    <el-form  :inline="true" label-position="top" :model="profile" class="text-xs-left">
                        <el-form-item label="姓名">
                            <el-input v-model="profile.name" placeholder="请输入真实姓名" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="电话">
                            <el-input v-model="profile.mobile" placeholder="请输入有效的手机号" :disabled="true"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="news-title">上传有效身份证正反面 （<i class="red--text">可选 </i> ）<i class="red--text">文件大小不能超过5M</i></div>
                <v-layout wrap class="zhengbox">
                    <v-flex xs3 mb-3 mr-3>
                        <div class="flexr">
                            <img-inputer v-model="file1" accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" theme="material" icon="img" size="normal" bottom-text="点击或拖拽图片以修改" placeholder="点击或拖拽选择图片" auto-upload :headers="{Authorization:`token ` + token}" action="/api/file" :onSuccess="uploaded1" :onError="onError" :readonly="typeof profile.cards[0] !='undefined'" :imgSrc="profile.cards[0]" />
                            <p>身份证正面</p>
                        </div>
                    </v-flex>
                    <v-flex xs3 mb-3 mr-3>
                        <div class="flexl">
                            <img-inputer v-model="file2" accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" theme="material" icon="img" size="normal" bottom-text="点击或拖拽图片以修改" placeholder="点击或拖拽选择图片" auto-upload :headers="{Authorization:`token ` + token}" action="/api/file" :onSuccess="uploaded2" :onError="onError" :readonly="typeof profile.cards[1] !='undefined'" :imgSrc="profile.cards[1]" />
                            <p>身份证反面</p>
                        </div>
                    </v-flex>
                </v-layout>
                <v-layout wrap class="zhengbox">
                    <v-flex xs3 mb-3 mr-3>
                        <div class="flexr">
                            <img-inputer v-model="file3" accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" theme="material" icon="img" size="normal" bottom-text="点击或拖拽图片以修改" placeholder="点击或拖拽选择图片" auto-upload :headers="{Authorization:`token ` + token}" action="/api/file" :onSuccess="uploaded3" :onError="onError" :readonly="typeof profile.cards[2] !='undefined'" :imgSrc="profile.cards[2]" />
                            <p>身份证正面</p>
                        </div>
                    </v-flex>
                    <v-flex xs3 mb-3 mr-3>
                        <div class="flexl">
                            <img-inputer v-model="file4" accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" theme="material" icon="img" size="normal" bottom-text="点击或拖拽图片以修改" placeholder="点击或拖拽选择图片" auto-upload :headers="{Authorization:`token ` + token}" action="/api/file" :onSuccess="uploaded4" :onError="onError" :readonly="typeof profile.cards[3] !='undefined'" :imgSrc="profile.cards[3]" />
                            <p>身份证反面</p>
                        </div>
                    </v-flex>
                </v-layout>
                <i class="red--text" style="display: flex;margin-left: 25px;margin-bottom: 30px;">*上传完成后，点击确认修改进行保存</i>
                <div class="gobtn">
                <v-btn color="info" large class="white--text" @click="updateProfile">确认修改</v-btn>
                </div>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import ImgInputer from 'vue-img-inputer'
import 'vue-img-inputer/dist/index.css'

import api from '@/api'
export default {
    components: {
        ImgInputer
    },
    name: 'profile',
    computed: {
        centreBox() {
            return this.$store.getters.centreBox == this.$options.name
        },
        token() {
            return this.$store.getters.token
        }
    },
    data() {
        return {
            file1: null,
            file2: null,
            file3: null,
            file4: null,
            profile: {
                cards: []
            },
            formLabelAlign: {
                name: '',
                region: '',
                type: ''
            }
        }
    },
    watch: {},
    mounted() {
        this.loadProfile()
    },
    methods: {
        onError(err, file) {
            this.$store.commit("MsgError", "上传失败，请重新上传")
        },
        uploaded1(res, file) {
            this.profile.cards[0] = res.result[0]
        },
        uploaded2(res, file) {
            this.profile.cards[1] = res.result[0]
        },
        uploaded3(res, file) {
            this.profile.cards[2] = res.result[0]
        },
        uploaded4(res, file) {
            this.profile.cards[3] = res.result[0]
        },
        loadProfile: function () {
            api.get('pc/usercentre/profile').then(data => {
                this.profile = data.result
                try {
                    this.profile.cards = JSON.parse(this.profile.cards)
                } catch (e) {}
                if (this.profile.cards == "") {
                    this.profile.cards = []
                }
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        },
        updateProfile: function () {
            if (this.profile["username"] == "") {
                this.$store.commit("MsgError", '真实姓名不能为空')
                return false
            }
            var pattern = /[^u4e00-u9fa5]+$/g
            // console.log(this.profile["username"])
            // console.log(pattern.test(this.profile["username"]))
            if (!pattern.test(this.profile["username"])) {
                this.$store.commit("MsgError", '真实姓名必须为中文')
                return false;
            }

            if (this.profile["cards"].length > 0) {
                this.profile["cardstr"] = JSON.stringify(this.profile["cards"])
            }
            var pre = /^[1][3456789][0-9]{9}$/
            if (!pre.test(this.profile['mobile'])) {
                this.$store.commit("MsgError", '请输入正确的手机号')
                return false
            }
            api.post('pc/usercentre/profile', this.profile).then(data => {
                this.$store.commit("MsgOk", "修改成功")
                this.profile["n"] = this.profile["username"]
                this.profile["m"] = this.profile["mobile"] 
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        }
    }
}
</script>

<style lang="less" scoped>
    .profile {
        padding: 4px;
        .profile-box {
            padding-bottom: 27px;
        }
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 20px;
    }
    .formnew {
        padding-left: 25px;
    }
    .form-title {
        width: 100%;
        text-align: left;
        margin: 20px 0 10px 0;
        font-size: 16px;
        color: #fff;
    }
    .news-title {
        width: 100%;
        text-align: left;
        margin: 20px 0 10px 25px;
        font-size: 16px;
        color: #fff;
    }
    .title,.flexceter {
        justify-content: center;
    }
    .input-kua {
        text-align: center;
        i {
            font-size: 58px;
            color: #cf9336;
        }
    }
    .kuar {
        padding: 0 10px 0 150px;
    }
    .kual {
        padding: 0 150px 0 10px;
    }
    .flexl {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0 5px;
        color: #dddddd;
        font-size: 12px;
        p {
            margin-top: 10px;
        }
    }
    .flexr {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0 5px;
        color: #dddddd;
        font-size: 12px;
        p {
            margin-top: 10px;
        }
    }
    .zhengbox {
        padding: 0 30px;
    }
    .red--text {
        font-style: normal;
    }
    .gobtn {
        display: flex;
        padding-left: 20px;
    }
</style>
<style lang="less">
    .el-input.is-disabled .el-input__inner {
        width: 265px;
    }
    .el-form-item__label {
        font-size: 16px !important;
        color: #fff !important;
    }
    .img-inputer {
        background: none !important;
        border: 1px dashed #987ea9;
        width: 195px;
        height: 130px;
    }
    .img-inputer__placeholder {
        color: #987ea9 !important;
    }
    .img-inputer__icon {
        color: #987ea9 !important;
    }
</style>

