<template>
<div>
    <div class="centre-box">
        <div class="user-title">我要提现</div>
        <div class="qian-box">
            <div class="qian-list" v-for="(key,item,index) in balance" :key="index">
                <div class="imgbox">
                    <img :src="require(`../../assets/mg/qian${(item)}.png`)" :alt="item.name">
                </div>
                <p>{{key.name}}</p>
                <div class="cash">{{config.unit}} {{key.balance|money}}</div>
            </div>
        </div>
        <div class="wallet-box">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content-left">
                        <div class="grid-content-list">
                            <div class="userbox">
                                <p>欢迎您！</p>
                                <h3>{{profile.name}}</h3>
                            </div>
                            <div class="renzheng" @click="$store.commit('ShowCentre','profile')">去认证</div>
                        </div>
                        <div class="grid-content-list">
                            <div class="useryue">
                                <p>
                                    资金总余额 
                                    <v-tooltip right>
                                        <v-icon style="cursor: pointer;" slot="activator" small>help_outline</v-icon>
                                        <span>资产总余额显示为 （平台名称 ： 账户金额）</span>
                                    </v-tooltip>
                                </p>
                                <h3>{{config.unit}} {{(total["deposit"]-total["withdrawal"])|money}}</h3>
                            </div>
                            <div class="aniuzu">
                                <v-tooltip top>
                                    <div class="anniu" slot="activator" @click="loadBalance()">
                                        <i class="iconfont icon-unie62a"></i>
                                        刷新
                                    </div>
                                    <span>刷新余额</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <div class="anniu" slot="activator" @click="toMain()">
                                        <i class="iconfont icon-zhuanhuidao"></i>
                                        转回
                                    </div>
                                    <span>转回主钱包</span>
                                </v-tooltip>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div class="formnew">
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form label-position="top" :model="withdrawal" class="text-xs-left">
                        <el-row :gutter="20">
                            <el-form-item label="提现金额">
                                <el-input v-model="withdrawal.amount" placeholder="请输入提现金额" type="number">
                                    <template slot="prepend">{{config.unit}}</template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="开户银行">
                                <el-select v-model="withdrawal.bank" placeholder="选择已绑定银行卡">
                                    <el-option v-for="(item,i) in banks" :key="i" :label="item.Bank+'：'+item.Card" :value="item.Bank">
                                        <div @click="selectBank(item)">
                                            <span style="float: left">{{ item.Bank }}：</span>
                                            <span style="float: right;">{{ item.Card }}</span>
                                        </div>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="卡主姓名">
                                <el-input v-model="withdrawal.name" placeholder="填写完整持卡人姓名" :disabled="true" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="银行卡号">
                                <el-input v-model="withdrawal.card" placeholder="填写完整银行卡号" :disabled="true" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="分行名称">
                                <el-input v-model="withdrawal.branch" placeholder="填写完整开户分行名称" :disabled="true" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="取款密码">
                                <el-input v-model="withdrawal.password" placeholder="填写取款密码" type="password">
                                    <el-button slot="append" @click="$store.commit('ShowGlobal','WPass')" v-if="user.w == false">创建取款密码</el-button>
                                </el-input>
                            </el-form-item>
                        </el-row>
                        <div class="flexcenter">
                            <el-form-item>
                                <el-button type="primary" :loading="doing" :disabled="doing" @click="doWithdrawal">确认提交</el-button>
                            </el-form-item>
                        </div>
                    </el-form>
                </el-col>
                <el-col :span="12">
                    <div class="banktips">
                        <h3>取款说明：</h3>
                        <ul>
                            <li>单笔取款限额<i class="green--text  lighten-1 title">{{config.withdrawal_limited.replace(",","~")}}</i>元,每位用户每日取款不可超过<i class="green--text  lighten-1 title">{{config.withdrawal_day}}</i>次。</li>
                            <li>填写您要取款的金额后，选择历史取款银行或添加新的取款银行卡。</li>
                            <li>选定取款银行账户后输入取款密码，点击【确认提交】即可进入系统审核。</li>
                            <li>提交成功后可在“个人中心-交易记录-取款记录”中查看取款订单状态。</li>
                            <li>请填写真实的收款银行卡信息，且每个账户只能绑定账户本人姓名的银行卡。</li>
                            <li>取款若有错误提示及取款失败的情况，请及时联系7*24小时在线客服咨询。</li>
                        </ul>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
    <!-- <v-subheader class="pa-0 title">
        资金总余额 
        <v-tooltip right>
            <v-icon  slot="activator" small>help_outline</v-icon>
            <span>资产总余额显示为 （平台名称 ： 账户金额）</span>
        </v-tooltip>
    </v-subheader> -->
    <!-- <div class="zijinbox">
        <v-layout>
            <v-flex d-flex md12>
                <v-card color="grey lighten-3">
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-tooltip top>
                            <v-btn slot="activator" small color="#ce912f" @click="loadBalance()">
                                刷新
                            </v-btn>
                            <span>刷新余额</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <v-btn slot="activator" small color="#ce912f" @click="toMain()">
                                转回
                            </v-btn>
                            <span>转回主钱包</span>
                        </v-tooltip>
                    </v-card-title>
                    <div class="flexitem">
                        <template v-for="item in balance">
                            <span class="title hh--text lighten-2 ">
                            {{item.name}} ： <i class="title hhh--text">{{config.unit}} {{item.balance|money}}</i>
                            </span>
                        </template>
                    </div>
                    <v-progress-linear color="#ce912f" :indeterminate="true" class="ma-0" v-show="loading" height="2"></v-progress-linear>

                </v-card>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <v-card flat>
                    <v-card-text class="text-sm-left">
                        <v-chip label outline color="red" v-for="i in Predefined" @click="withdrawal.amount = parseInt(i)">{{i}}</v-chip>
                            <v-text-field :error-messages="amountError" label="提现金额" :prefix="config.unit" v-model.number="withdrawal.amount" type="number"></v-text-field>
                            <v-menu bottom offset-y style="width: 100%">
                                <v-text-field @focus="checkBanks" readonly slot="activator" :error-messages="bankError" label="开户银行" prepend-icon="home" placeholder="选择已绑定银行卡" v-model="withdrawal.bank" type="text"></v-text-field>
                                <v-list two-line>
                                    <template v-for="(item, i) in banks">
                                        <v-list-tile @click="selectBank(item)">
                                            <v-list-tile-content>
                                                <v-list-tile-title v-html="item.Bank"></v-list-tile-title>
                                                <v-list-tile-sub-title v-html="item.Card"></v-list-tile-sub-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-divider v-if="i+1 < banks.length" :key="i"></v-divider>
                                    </template>
                                </v-list>
                            </v-menu>
                            <v-text-field :error-messages="nameError" label="卡主姓名" prepend-icon="how_to_reg" placeholder="填写完整持卡人姓名" v-model="withdrawal.name" readonly type="text"></v-text-field>
                            <v-text-field :error-messages="cardError" readonly label="银行卡号" prepend-icon="credit_card" placeholder="填写完整银行卡号" v-model="withdrawal.card" type="text"></v-text-field>
                            <v-text-field :error-messages="branchError" readonly label="分行名称" prepend-icon="place" placeholder="填写完整开户分行名称" v-model="withdrawal.branch" type="text"></v-text-field>
                            <v-flex md12 d-flex v-if="user.w == false">
                                <v-text-field :error-messages="passError" label="取款密码" prepend-icon="lock" placeholder="填写取款密码" v-model="withdrawal.password" type="password"></v-text-field>
                                <v-btn color="info" @click="$store.commit('ShowGlobal','WPass')">创建取款密码</v-btn>
                            </v-flex>
                            <v-text-field :error-messages="passError" label="取款密码" prepend-icon="lock" placeholder="填写取款密码" v-model="withdrawal.password" type="password" v-else></v-text-field>
                    </v-card-text>
                    <div class="banktips">
                        <h3>取款说明：</h3>
                        <ul>
                            <li>单笔取款限额<i class="green--text  lighten-1 title">{{config.withdrawal_limited.replace(",","~")}}</i>元,每位用户每日取款不可超过<i class="green--text  lighten-1 title">{{config.withdrawal_day}}</i>次。</li>
                            <li>填写您要取款的金额后，选择历史取款银行或添加新的取款银行卡。</li>
                            <li>选定取款银行账户后输入取款密码，点击【确认提交】即可进入系统审核。</li>
                            <li>提交成功后可在“个人中心-交易记录-取款记录”中查看取款订单状态。</li>
                            <li>请填写真实的收款银行卡信息，且每个账户只能绑定账户本人姓名的银行卡。</li>
                            <li>取款若有错误提示及取款失败的情况，请及时联系7*24小时在线客服咨询。</li>
                        </ul>
                    </div>
                    <v-card-actions>
                        <v-btn color="#ce912f" small class="white--text" @click="doWithdrawal" :loading="doing" :disabled="doing">
                            <v-icon small>done</v-icon>
                            确认提交
                            <span slot="loader">正在提交...</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </div> -->

    <v-dialog v-model="wpass" persistent max-width="500px" v-if="user.w == false">
        <v-card>
            <v-toolbar dark color="primary">
                <v-toolbar-title class="headline">设置取款密码</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom left>
                    <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-menu>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field v-model="pw.password" :error-messages="passwordError" prepend-icon="lock" label="输入登录密码" required type="password"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="pw.wpass" :error-messages="wpasswordError" prepend-icon="lock" label="请输入您的取款密码，6-16位" required type="password" counter></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="pw.rwpass" :error-messages="wpasswordError" prepend-icon="lock" label="请确认您的取款密码，6-16位" required type="password" counter></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn color="primary" block @click="setPassword"> 设置取款密码 </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>
</template>

<style>
.v-text-field__prefix {
    width: 30px;
    text-align: center;
    padding-right: 4px;
    font-weight: bold;
    font-size: 20px;
}
.el-select {
    width: 100%;
}
.el-input.is-disabled .el-input__inner {
    width: 100% !important;
}
</style>

<script>
import api from '@/api'

export default {
    components: {},
    name: 'withdrawal',
    data() {
        return {
            Predefined: [],
            amountError: [],
            bankError: [],
            nameError: [],
            cardError: [],
            passError: [],
            branchError: [],
            passwordError: [],
            wpasswordError: [],
            withdrawal: {
                amount: 0
            },
            banks: [],
            loading: false,
            max: 0,
            pw: {
                password: "",
                wpass: "",
                rwpass: ""
            },
            doing: false,
            profile: {
                cards: []
            },
            total: {},
        }
    },
    computed: {
        centreBox() {
            return this.$store.getters.centreBox == this.$options.name
        },
        config() {
            return this.$store.getters.config
        },
        user() {
            return this.$store.getters.user
        },
        balanceLoading() {
            return this.$store.getters.loadBalance
        },
        balance() {
            return this.$store.getters.balance
        },
        wpass() {
            return this.$store.getters.modalBox == "WPass"
        }
    },
    watch: {
        withdrawal: {
            handler: function (n, o) {
                this.amountError = []
                this.bankError = []
                this.nameError = []
                this.cardError = []
                this.branchError = []
                this.passError = []
            },
            immediate: true,
            deep: true
        },
        balanceLoading: function (n, o) {
            if (n == true) {
                this.loading = true
            } else {
                this.loading = false
            }
        }
    },
    mounted() {
        if (this.config["withdrawal_predefined"]) {
            this.Predefined = this.config["withdrawal_predefined"].split(",")
        }
        this.loadBanks()

        this.loadProfile()
        // this.getWithdrawalMax()
        // this.loadBalance()
        this.loadTotal()
    },
    methods: {
        checkBanks: function () {
            var _ = this
            if (this.banks.length == 0) {
                _.$store.commit("MsgError", "您还没有添加银行信息，请先添加")
                setTimeout(function () {
                    _.$store.commit('ShowCentre', "cards")
                }, 3000)
            }
        },
        loadProfile: function () {
            var _ = this
            api.get('pc/usercentre/profile').then(data => {
                this.profile = data.result
                if (data.result.username == '') {
                    _.$store.commit("MsgError", "您还没有添加真实姓名，请先添加")
                    setTimeout(function () {
                        _.$store.commit('ShowCentre', "profile")
                    }, 3000)
                } else {
                    this.withdrawal.name = data.result.username
                }
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        },
        setPassword: function () {
            if (this.pw.password == "") {
                this.passwordError.push("请输入登录密码")
                return false
            }
            if (this.pw.wpass == "" || this.pw.rwpass == "") {
                this.wpasswordError.push("请输入取款密码")
                return false
            }
            if (this.pw.wpass.length > 16 || this.pw.wpass.length < 6) {
                this.wpasswordError.push("取款密码长度为6-16位")
                return false
            }
            if (this.pw.wpass != this.pw.rwpass) {
                this.wpasswordError.push("两次取款密码不一致")
                return false
            }
            api.post("/pc/usercentre/wpass", this.pw).then(data => {
                this.$store.commit("MsgOk", "设置成功")
                this.passwordError = []
                this.wpasswordError = []
                var user = this.user
                user.w = true
                this.$store.commit('onUserLogin', user)
                this.$store.commit('ShowGlobal', '')
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
            return ""
        },
        getWithdrawalMax: function () {
            api.get("/pc/usercentre/withdrawal/max").then(data => {
                this.max = data.result
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        },
        loadBalance: function () {
            this.$store.dispatch("BALANCE")
        },
        toMain: function () {
            this.loading = true
            api.post("/pc/usercentre/balance").then(data => {
                this.loadBalance()
            }).catch(error => {
                commit("MsgError", error.error)
                this.loading = false
            })
        },
        selectBank(val) {
            console.log(val);
            this.$set(this.withdrawal, "bank", val.Bank)
            this.$set(this.withdrawal, "card", val.Card)
            this.$set(this.withdrawal, "branch", val.Branch)
            this.$set(this.withdrawal, "name", val.Name)
        },
        loadBanks: function () {
            api.get("/pc/usercentre/banks").then(data => {
                this.banks = data.result
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        },
        loadTotal: function () {
            api.get("/pc/usercentre/total").then(data => {
                this.total = data.result
            })
        },
        allBalance: function () {
            var allBalance = this.balance
            var total = 0
            for (var v in allBalance) {
                total += parseFloat(allBalance[v].balance)
            }
            return total
        },
        doWithdrawal: function () {
            if (this.doing) return
            
            if (this.withdrawal.amount == undefined || this.withdrawal.amount <= 0) {
                this.amountError.push("请输入正确金额")
                this.$store.commit("MsgError", "请输入正确金额")
                return false
            }
            var balance = this.allBalance()
            if (this.withdrawal.amount > balance) {
                this.$store.commit("MsgError", "提现金额超出您的总余额，可提现 " + this.config['unit'] + ": " + balance.toFixed(2))
                return false
            }

            // if (this.withdrawal.amount >  this.max) {
            //     this.amountError.push("提现金额不能大于 "+ this.config['unit'] +": "+ this.max)
            //     return false
            // }
            if (this.config["withdrawal_limited"]) {
                var limited = this.config["withdrawal_limited"].split(",")
                var min = parseInt(limited[0], 10),
                    max = parseInt(limited[1], 10)
                if (min != 0 && this.withdrawal.amount < min) {
                    this.$store.commit("MsgError", "提现金额不能小于 " + this.config['unit'] + ": " + min)
                    return false
                }
                if (max != 0 && this.withdrawal.amount > max) {
                    this.$store.commit("MsgError", "提现金额不能大于 " + this.config['unit'] + ": " + max)
                    return false
                }
            }

            if (this.withdrawal.bank == undefined || this.withdrawal.bank == "") {
                this.$store.commit("MsgError", "请输入银行名称")
                return false
            }
            // if (this.withdrawal.name == undefined || this.withdrawal.name == "") {
            //     this.nameError.push("请输入卡主姓名")
            //     return false
            // }

            if (this.withdrawal.card == undefined || this.withdrawal.card == "") {
                this.$store.commit("MsgError", "请输入卡号")
                return false
            }

            if (this.withdrawal.password == undefined || this.withdrawal.password == "") {
                if (this.user.w == false) {
                    this.$store.commit('ShowGlobal', 'WPass')
                }
                this.$store.commit("MsgError", "请输入取款密码")
                return false
            }
            this.doing = true
            api.post('pc/usercentre/withdrawal', this.withdrawal).then(data => {
                this.$store.commit("MsgOk", "申请成功")
                this.withdrawal = {
                    amount: 0
                }
                this.loadBalance()
                this.doing = false
                // this.loadBanks()
                // this.getWithdrawalMax()
            }).catch(error => {
                this.doing = false
                this.$store.commit("MsgError", error.error)
            })
        }
    }
}
</script>

<style lang="less" scoped>
    .formnew {
        margin: 0 auto;
        padding: 0 36px;
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 25px;
    }
    .wallet-box {
        padding: 0 25px;
    }
    .jp-card.jp-card-identified .jp-card-front:before, .jp-card.jp-card-identified .jp-card-back:before {
        background-image: url('../../assets/mg/bank.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .grid-content-left {
        margin-right: 60px;
    }
    .grid-content-right {
        display: flex;
        justify-content: flex-end;
    }
    .grid-content-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #6a6a6a;
        .userbox {
            p {
                font-size: 18px;
                color: #fff;
            }
            h3 {
                font-size: 24px;
                color: #fff;
                font-weight: normal;
            }
        }
        .useryue {
            p {
                font-size: 16px;
                color: #fff;
            }
            h3 {
                font-size: 36px;
                color: #8d33e2;
                font-weight: normal;
            }
        }
        .renzheng {
            font-size: 16px;
            color: #e23c3c;
            border-radius: 5px;
            border: 1px solid #e23c3c;
            padding: 5px 25px;
            cursor: pointer;
        }
        .aniuzu {
            .anniu {
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                margin-bottom: 10px;
                .iconfont {
                    font-size: 14px;
                }
            }
        }
        .dianjizu {
            .anniu {
                font-size: 18px;
                color: #fff;
                background: #8d33e2;
                padding: 5px 45px;
                border-radius: 30px;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }
    }
    .qian-box {
        background-size: cover;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        border-top: 10px solid #0f0f0f;
        border-bottom: 10px solid #0f0f0f;
        .qian-list:nth-child(1) {
            border: none;
        }
        .qian-list {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-left: 5px solid #0f0f0f;
            .imgbox {
                height: 75px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 32%;
                    max-width: 58px;
                }
            }
            p {
                color: #fff;
                font-size: 16px;
            }
            .cash {
                color: #fff;
                font-size: 18px;
                margin: 15px 0;
            }
        }
    }
    .banktips {
        text-align: left;
        padding: 20px;
        margin: 30px 20px;
        border: 1px solid #2f2f2f;
        background: rgba(0,0,0,.1);
        h3 {
            font-size: 16px;
            line-height: 32px;
            color: #fff;
            margin-bottom: 20px;
        }
        ul {
            margin-left: 1em;
            li {
                list-style-type: decimal;
                font-size: 14px;
                line-height: 28px;
                color: #b3b3b3;
            }
        }
    }
    .flexcenter {
        margin-left: -10px;
    }
</style>
