<template>
    <div class="drecord">
        <div class="user-title">取款记录</div>
        <div class="databox">
            <!-- <v-subheader class="pa-0 title titles">取款记录</v-subheader>
            <div class="icond">
                <i class="iconfont icon-cunkuan2"></i>
            </div> -->
            <div class="block">
                <el-date-picker v-model="searchtime" type="datetimerange" :picker-options="pickerOptions" range-separator="至" start-placeholder="开始时间" end-placeholder="结束时间" align="right"></el-date-picker>
                <v-btn color="primary" class="white--text" depressed normal>搜索</v-btn>
                <v-btn outline class="white--text" depressed normal @click="searchtime = ''">清除</v-btn>
            </div>
            <v-data-table no-data-text="暂无结果" :headers="headers" :items="desserts" :loading="loading" :rows-per-page-items="[50,100,150,200]" :rows-per-page-text="'每页行数'"  class="elevation-1">
                <v-progress-linear slot="progress" color="#ce912f" height="2" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                    <td class="text-xs-center">{{ props.item.Created | formatDate}}</td>
                    <td class="text-xs-center">{{ props.item.Sn }}</td>
                    <td class="text-xs-center">
                            <v-chip label :color="status[props.item.Status].color" text-color="white" small>
                                {{ status[props.item.Status].title }}
                        </v-chip>
                    </td>
                    <td class="text-xs-center">{{config.unit}} {{ props.item.Amount | money}}</td>
                    <td class="text-xs-center" v-if="props.item.Status == 2">{{ props.item.Note }}</td>
                    <td class="text-xs-center" v-else>--</td>
                </template>
            </v-data-table>
            <!-- <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pagination.length" :total-visible="7"></v-pagination>
            </div> -->
        </div>
    </div>
</template>

<script>
    import api from '@/api'

    export default {
        components: {
        },
        name: 'wrecord',
        computed: {
            centreBox() {
                return this.$store.getters.centreBox == this.$options.name
            },
            config () {
                return this.$store.getters.config
            }
        },
        data() {
            return {
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                searchtime: '',
                loading:false,
                pagination: {
                    page:1,
                    length:0,
                    rowsPerPage:10,
                    sortBy:"",
                },
                headers: [{
                        text: '时间',
                        value: 'Created'
                    },
                    {
                        text: '查询码',
                        value: 'Sn'
                    },
                    {
                        text: '状态',
                        value: 'Status'
                    },
                    {
                        text: '金额',
                        value: 'Amount'
                    },
                    {
                        text: '原因',
                        value: 'Note'
                    },
                ],
                desserts: [
                ],
                status : {
                    "0":{
                        color:"orange",
                        title:"待确认"
                    },
                    "1":{
                        color:"success",
                        title:"已出金"
                    },
                    "2":{
                        color:"grey",
                        title:"已拒绝"
                    },
                }
            }
        },
        watch: {
    
        },
        mounted() {
           this.loadWithdrawal(1)
        },
        methods: {
            loadWithdrawal:function(p){
                this.loading = true
                api.get("/pc/usercentre/withdrawals",{page:p,num:this.pagination.rowsPerPage}).then(data => {
                    this.desserts = data.result.deposits
                    this.pagination.length = data.result.pageNums
                    this.pagination.totalItems = data.result.total
                    this.loading = false
                }).catch(error => {
                    this.$store.commit("MsgError",error.error)
                })
            }
        },
    }
</script>

<style lang="less">
    .drecord {
        padding-bottom: 100px;
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 25px;
    }
    .databox {
        padding: 0 25px;
        thead {
            background: #8d33e2 !important;
            th {
                color: #fff !important;
                text-align: center !important;
                i {
                    color: #fff !important;
                }
            }
        }
        tbody {
            background: #1d1d1d;
            tr {
                border: none !important;
                color: #fff !important;
            }
            tr:hover {
                background: #dad4c4;
            }
            tr:nth-child(even){
                background: #59586d;
            }
        }
        .elevation-1 {
            box-shadow: none !important;
        }
    }
    .titles {
        justify-content: center;
        margin-top: 20px;
    }
    .icond i {
        font-size: 58px;
        color: #cf9336;
    }
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        .v-btn {
            margin: 6px 0 6px 8px !important;
        }
    }
    .application .theme--light.v-datatable .v-datatable__actions, .theme--light .v-datatable .v-datatable__actions {
        background: #202020 !important;
        color: #fff !important;
        .v-icon {
            color: rgba(255, 255, 255, .26) !important;
        }
    }
    .application .theme--light.v-table tbody tr:hover:not(.datatable__expand-row), .theme--light .v-table tbody tr:hover:not(.datatable__expand-row) {
        background: #aeadc6;
    }
    .v-menu__activator {
        /*background: #fff;*/
    }
</style>